.gallery,
.servings,
.contact,
.about,
.flavors-txt,
.sig-txt,
.cupcake-details {
  display: flex;
  flex-direction: column;
  color: #526166;
  /* margin-right: 9.6rem; */
}

.gallery {
  margin-top: 2.4rem;
}
.about {
  max-width: 25dvw;
  text-align: justify;
  max-height: max-content;
}

.flavors-txt {
  width: 18%;
}

.cupcake-details {
  width: 20%;
}

.sig-txt {
  width: 35%;
}

.txt-panel h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-transform: uppercase;
  /* padding-bottom: 1.6rem; */
}

.txt-panel h1 {
  font-family: "fjalla one", sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.txt-panel p {
  font-size: 2.3rem;
  line-height: 1.4;
  color: #333;
  font-weight: 300;
  margin-top: 0.6rem;
}

.txt-panel.gallery p {
  font-size: 2rem;
}

.flavors-details p {
  font-size: 2.6rem;
  padding-bottom: 1.6rem;
  line-height: 1.75;
  color: #333;
}

#disclaimer {
  padding-top: 3.6rem;
  font-size: 3.2rem;
}
#disclaimer span {
  font-size: 4.1rem;
}

.flavors-txt h1 {
  font-size: 6.6rem;
}

.flavors-txt h2 {
  font-size: 4.1rem;
}

.flavors-txt p {
  font-size: 2.3rem;
}

.contact.contact-txt {
  max-width: 80%;
}

.contact.contact-txt p {
  font-size: 2.3rem;
}
.sig-txt h2 {
  font-size: 3.9rem;
}

.sig-txt h1 {
  font-size: 6.6rem;
}
.sig-txt p {
  font-size: 2.3rem;
}
