.hamburger-menu-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 9.8rem;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100dvw;
  justify-content: center;
  z-index: 1000;
}
.hide {
  z-index: -10;
}

.secondary-nav {
  max-width: 192rem;
  list-style: none;
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  column-gap: 9.6rem;
  padding: 4.8rem 0;
}
.secondary-nav a {
  text-decoration: none;
  color: #2d5059;
}

.nav-heading {
  font-weight: 300;
  font-size: 1.8rem;
  font-family: "fjalla one", sans-serif;
}
.secondary-nav a:link,
.secondary-nav a:visited {
  text-decoration: none;
  color: #2d5059;
}

.secondary-nav li:hover {
  cursor: pointer;
}

.int-links-box {
  display: flex;
  row-gap: 1.2rem;
  flex-direction: column;
  margin-top: 1.2rem;
}

.int-link {
  font-size: 1.6rem;
}

/* ANIMATIONS*/

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 10;
  display: flex;
}

.slide-up {
  animation: slide-up 0.3s forwards;
  transition: opacity 0.8s ease;
  animation-delay: 0.2s;
  opacity: 1;
}

@keyframes slide-up {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-down {
  animation: slide-down 0.3s forwards;
  transition: opacity 0.8s ease;
  animation-delay: 0.2s;
  opacity: 1;
}

@keyframes slide-down {
  0% {
    transform: translateY(-110%);
  }

  100% {
    transform: translateX(0);
  }
}

#fade-in-img {
  opacity: 1;
  transition: opacity 3.5s ease;
}

.fade-in {
  z-index: 150;
}

/* this is impacting tabindex order*/
/* .hamburger-menu-icon-container {
  z-index: 2000;
} */
