.hamburger-menu-container {
  /* margin: 2.4rem; */
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 9.8rem;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  justify-content: center;
}
.hide {
  z-index: -10;
}
/* RIGHT MENU / CONTENT*/

.right-menu-container {
  max-width: 192rem;
  width: 100%;
}
.right-menu-container::-webkit-scrollbar {
  width: 0.8rem;
}
.right-menu-container::-webkit-scrollbar-track {
  background: #abeeff;
  margin-top: 18rem;
}
.right-menu-container::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
}
.secondary-nav {
  list-style: none;
  text-transform: uppercase;
  font-size: 2.3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4.8rem 0;
}
.secondary-nav a:link,
.secondary-nav a:visited {
  text-decoration: none;
  color: #2d5059;
}

.secondary-nav li:hover {
  cursor: pointer;
}

/* SOCIAL NAV */
.social-menu {
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
}
.social-menu a:link,
.social-menu a:visited {
  display: flex;
  text-decoration: none;
  font-size: 2.6rem;
  color: #2d5059;
  cursor: pointer;
  align-items: center;
}

.location-container {
  margin-top: 3.6rem;
}
.location-container p {
  font-size: 2.6rem;
  line-height: 1.3;
}

.top-soc-menu {
  display: flex;
  width: 85%;
}

.bottom-soc-menu {
  display: flex;
  flex-direction: column;
  row-gap: 3.6rem;
}

.phone-container,
.mail-container {
  display: flex;
  margin-top: 2.4rem;
  flex-direction: column;
}

.phone-label,
.email-label,
.location-label {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
}
/* .icon-facebook,
.icon-instagram,
.icon-the-knot,
.icon-weddingwire {
  font-size: 4rem;
  color: #526166;
  cursor: pointer;
  margin-right: 4.8rem;
} */

/* ANIMATIONS*/

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 10;
  display: flex;
}

.slide-up {
  animation: slide-up 0.3s forwards;
  transition: opacity 0.8s ease;
  animation-delay: 0.2s;
  opacity: 1;
}

@keyframes slide-up {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-down {
  animation: slide-down 0.3s forwards;
  transition: opacity 0.8s ease;
  animation-delay: 0.2s;
  opacity: 1;
}

@keyframes slide-down {
  0% {
    transform: translateY(-110%);
  }

  100% {
    transform: translateX(0);
  }
}

#fade-in-img {
  opacity: 1;
  transition: opacity 3.5s ease;
}

.fade-in {
  z-index: 150;
}

.hamburger-menu-icon-container {
  z-index: 2000;
  /* this is impacting tabindex order*/
}
