.flavors-content {
  display: flex;
  max-width: 192rem;
  align-self: center;
  display: flex;
  position: relative;
  margin-top: 4.8rem;
}
.flavors-container {
  width: 75%;
}

.title {
  font-size: 4.1rem;
  text-transform: uppercase;
  color: #2d5059;
  padding-bottom: 3.6rem;
  min-width: max-content;
}

.title.second {
  padding-top: 7.2rem;
}

.flavors-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4.8rem;
  width: 100%;
}

.classic-flavors {
  margin-bottom: 9.6rem;
  scroll-margin-top: 40rem;
}

.specialty-flavors {
  scroll-margin-top: 15rem;
  margin-bottom: 9.6rem;
}

.flavor-card {
  width: 32%;
  margin-right: 2.4rem;
  display: flex;
  flex-direction: column;
}

.flavor-card:nth-child(3n) {
  margin-right: 0;
}

.fav-img {
  width: 100%;
}

.menu-options {
  cursor: default;
  font-family: fjalla one;
  text-transform: capitalize;
  padding: 2.4rem 0 1.2rem 1.2rem;
  font-size: 2.9rem;
  color: #526166;
  width: max-content;
  text-align: center;
  align-self: center;
}
.flavor-card p {
  font-size: 1.8rem;
  text-align: center;
  padding: 0 2.4rem;
}

.lazy-img {
  background-size: contain;
  right: 0rem;
  width: 100%;
  height: auto;
  position: absolute;
}
