.form-container.signature-form {
  justify-content: unset;
}

.add-btn-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 3.6rem;
}

.add-cake-btn,
.add-cake-btn-disabled {
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  font-family: raleway;
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.add-cake-btn span:first-of-type,
.add-cake-btn-disabled span:first-of-type {
  padding-right: 1.2rem;
  font-size: 3.6rem;
}

.add-cake-btn-disabled {
  display: none;
}

.form-panel.sig-form-panel {
  width: 100%;
  padding-right: 2.4rem;
}

.order-summary {
  display: flex;
}
.order-summary p {
  font-size: 2rem;
  margin-right: 2.4rem;
}

.order-summary p span {
  font-size: 2.9rem;
}
.size-box {
  width: 40%;
}

.flav-box {
  width: 53%;
  margin-right: 7.2rem;
}
.cake-details,
.cc-cake-details {
  display: flex;
  width: 100%;
  margin-bottom: 2.4rem;
}

.cc-flav-box,
.cc-qt-box {
  display: flex;
}

.cc-flav-box {
  width: 60%;
}

.cc-qt-box {
  width: 40%;
}
.cc-flav-slct {
  width: 90%;
}

.input-label-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}

.input-label-box.inscription-label {
  height: max-content;
}
.sig-event-box,
.time-box,
.size-box,
.flav-box {
  height: 20rem;
}

.signature-event-details {
  display: flex;
  width: 100%;
  margin-bottom: 2.4rem;
  /* margin-top: 9.7rem; */
}

.sig-event-box {
  width: 60%;
}
.sig-event-box .msg {
  max-width: 90%;
}
.time-box {
  width: 40%;
}
.dd-btn {
  border: none;
  border-bottom: 0.4rem solid #2d5059;
  font-size: 4.1rem;
  font-family: raleway;
  padding: 2.4rem 0 2.4rem 3.6rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.dd-btn span {
  color: #2d5059;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
}

.dd-btn span:not(:first-child) {
  font-size: 3.6rem;
  align-self: center;
  transform: rotate(-90deg);
}

.dd-btn.err-border {
  border-bottom: 0.4rem solid #ff0033;
}

span.active-opt {
  color: black;
  opacity: 1;
}

.dd-btn:hover {
  cursor: pointer;
}
.dd-label {
  font-size: 2.9rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
}
.dd-label-hidden {
  visibility: hidden;
}

.dropdown {
  background-color: white;
  list-style: none;
  position: absolute;
  box-shadow: 0 1rem 2rem rgba(45, 80, 89, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.dropdown.sig-flavor,
.dropdown.cc-flavor,
.dropdown.time {
  height: 40dvh;
  overflow-y: scroll;
}

.dropdown.sig-size {
  overflow-y: scroll;
}

.dropdown::-webkit-scrollbar {
  width: 0.8rem;
}
.dropdown::-webkit-scrollbar-track {
  background: white;
}
.dropdown::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
}
.dropdown li {
  font-size: 3.2rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  cursor: pointer;
}

.dropdown li:first-of-type {
  padding-top: 2.4rem;
}
.dropdown li:last-of-type {
  padding-bottom: 2.4rem;
}
.act-sig-flavor,
.act-cc-flavor,
.act-sig-size,
.act-time {
  background-color: #ff0055;
  color: white;
}

.cake-orders {
  margin-bottom: 2.4rem;
}
.cake-orders.mb-120 {
  margin-bottom: 4.8rem;
}
.heading-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3rem solid black;
  padding: 0 1.2rem 1.2rem 0rem;
  margin-bottom: 4.8rem;
  width: 100%;
}

.cake-orders h3 {
  font-size: 3.6rem;
}

.ord-exp {
  font-family: "fjalla one";
  font-size: 3.6rem;
  cursor: pointer;
}
.cake-heading {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3.6rem;
  justify-content: space-between;
  border-bottom: 0.3rem solid black;
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.errs {
  border-bottom: 0.3rem solid #ff0033;
}

.cake-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}
.details-box {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.cake-heading h4 {
  font-size: 3.2rem;
  white-space: nowrap;
}

.details-box p {
  font-size: 2.6rem;
  padding-left: 3.6rem;
  line-height: 1.5;
}
.price-box {
  font-size: 2.6rem;
}
.price-box span:nth-of-type(1) {
  font-family: "raleway";
  font-size: 3.6rem;
}

.price-box span:nth-of-type(2) {
  font-size: 2rem;
  font-family: "fjalla one";

  margin-right: 4.8rem;
}

.edit-box {
  cursor: pointer;
  display: flex;
  font-size: 2.6rem;
  font-family: "fjalla one";
  align-items: flex-end;
}

.edit-box span:first-of-type {
  padding-right: 0.8rem;
}

.rotate-up {
  transform: rotate(90deg);
}

.rotate-down {
  transform: rotate(-90deg);
}

.dlt-btn {
  padding-left: 2.4rem;
  color: #ff0033;
  cursor: pointer;
}

@media (max-width: 2560px) and (max-height: 900px) {
  .dd-btn {
    font-size: 2.9rem;
    padding: 2.4rem 0 2.4rem 3.6rem;
  }
  .dd-btn span:not(:first-child) {
    font-size: 2.9rem;
  }
  .dd-label {
    font-size: 2.3rem;
    padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  }

  .signature-event-details {
    display: flex;
    width: 100%;
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 2370px) {
  .input-label-box .form-input,
  .sig-event-box .form-input,
  .dd-btn {
    font-size: 3.6rem;
  }

  .input-label-box .form-label {
    font-size: 2.3rem;
  }
  .dd-btn span:not(:first-child) {
    font-size: 3.1rem;
  }
  .dd-label {
    font-size: 2.3rem;
    padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  }
}

@media (max-width: 2370px) and (max-height: 900px) {
  .input-label-box .form-input,
  .sig-event-box .form-input,
  .dd-btn {
    font-size: 3.1rem;
  }
  .dd-label,
  .input-label-box .form-label,
  .msg {
    font-size: 2rem;
  }

  .dd-btn span:not(:first-child) {
    font-size: 2.5rem;
  }

  .input-label-box {
    min-height: 16rem;
  }
  .sig-event-box,
  .time-box,
  .size-box,
  .flav-box {
    height: 16rem;
  }
}

@media (max-width: 2040px) {
  .form-panel.sig-form-panel {
    justify-content: flex-end;
    height: 68dvh;
    width: 100%;
  }
  .sig-form-box {
    width: 90%;
  }
  .sig-event-box {
    width: 53%;
  }
  .time-box {
    width: 47%;
  }

  .flav-box,
  .size-box {
    width: 50%;
  }
}

@media (max-width: 2040px) and (max-height: 1250px) {
  .dd-btn {
    font-size: 3.7rem;
    padding: 1.8rem 2.4rem 1.8rem 2.4rem;
  }

  .form-panel.sig-form-panel {
    height: 100%;
  }
}

@media (max-width: 2040px) and (max-height: 950px) {
  .form-panel.sig-form-panel {
    position: relative;
  }
}

@media (max-width: 2040px) and (max-height: 860px) {
  .form-container.signature-form {
    width: 97.6%;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}

@media (max-width: 2040px) and (max-height: 810px) {
  .dd-btn {
    font-size: 2.9rem;
    line-height: 1; /* needed */
  }

  /* .signature-event-details {
    height: max-content;
  } */
  .sig-event-box,
  .time-box {
    height: 16rem;
  }
  .input-label-box {
    min-height: 16rem;
  }
  .input-label-box .form-input {
    font-size: 2.9rem;
  }
  .input-label-box .form-label {
    font-size: 2rem;
  }
}

@media (max-width: 2040px) and (max-height: 780px) {
  .form-container.signature-form {
    height: 56%;
  }
}

@media (max-width: 2040px) and (max-height: 700px) {
  .form-container.signature-form {
    height: 60%;
  }
}

@media (max-width: 2040px) and (max-height: 600px) {
  .form-container.signature-form {
    height: 55%;
  }
}

@media (max-width: 2040px) and (max-height: 540px) {
  .form-container.signature-form {
    height: 50%;
  }
}

@media (max-width: 1720px) and (max-height: 720px) {
  .form-container.signature-form {
    margin-top: 12rem;
  }
}

@media (max-width: 1700px) {
  .details-box p {
    font-size: 2.3rem;
  }
  .cake-heading {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 1650px) {
  .cake-heading {
    margin-bottom: 3.6rem;
  }
  .dd-btn {
    font-size: 2.9rem;
    /* line-height: 1; */
  }
  .input-label-box .form-input {
    font-size: 2.9rem;
  }

  .input-label-box .form-label {
    font-size: 2rem;
  }

  .input-label-box {
    min-height: 18rem;
  }
  .sig-event-box,
  .time-box,
  .size-box,
  .flav-box {
    height: 18rem;
  }
}

@media (max-width: 1450px) {
  .dropdown li {
    font-size: 2.3rem;
  }
}
@media (max-width: 1323px) {
  .form-container.signature-form {
    padding: 0 1.2rem 0 0;
  }
}

@media (max-width: 1180px) {
  .form-container.signature-form {
    padding-right: 0;
    padding-left: 0;
    margin-top: 12rem;
    width: 95.7%;
  }

  .sig-form-box {
    width: 100%;
  }
  .form-panel.sig-form-panel {
    padding-right: 4.8rem;
  }

  .add-btn-group {
    position: absolute;
    top: 0;
    right: 0;
  }

  .cake-orders {
    margin-bottom: 0;
  }
  .cake-orders.mb-120 {
    margin-bottom: 3.6rem;
  }

  .signature-event-details {
    margin-top: 0;
  }
  .btn-bg {
    display: none;
  }

  .dd-btn {
    padding: 1.8rem 2.4rem;
  }

  .dd-btn span {
    white-space: nowrap;
    overflow: hidden;
  }

  .sig-event-box {
    width: 50%;
  }
  .time-box {
    width: 50%;
  }
  .flav-box {
    width: 45%;
    margin-right: 5.2rem;
    flex-grow: 0.5;
  }
  .size-box {
    width: 50%;
    flex-grow: 0.5;
  }
  .input-label-box {
    min-height: 14rem;
  }
  .sig-event-box,
  .time-box,
  .size-box,
  .flav-box {
    height: 14rem;
  }

  .dd-label {
    font-size: 2rem;
    padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  }
}

@media (max-width: 1180px) and (max-height: 1000px) {
  .dd-btn {
    font-size: 2.9rem;
    padding: 1.8rem 2.4rem;
    /* line-height: 1; */
  }
}

@media (max-width: 1180px) and (max-height: 980px) {
  .form-container.signature-form {
    height: 70%;
  }
}

@media (max-width: 1180px) and (max-height: 830px) {
  .form-panel.sig-form-panel {
    margin-top: 2.4rem;
    padding-right: 2.4rem;
  }

  .form-container.signature-form {
    height: 66%;
  }
}

@media (max-width: 1180px) and (max-height: 730px) {
  .form-container.signature-form {
    height: 60%;
  }
}

@media (max-width: 1180px) and (max-height: 660px) {
  .sig-event-box,
  .time-box {
    height: 14rem;
  }

  .input-label-box {
    min-height: 14rem;
  }
}

@media (max-width: 1180px) and (max-height: 610px) {
  .form-container.signature-form {
    height: 55%;
  }
}

@media (max-width: 1180px) and (max-height: 540px) {
  .form-container.signature-form {
    height: 50%;
  }
}

@media (max-width: 1100px) {
  .dropdown li {
    font-size: 2.6rem;
  }
}

@media (max-width: 950px) {
  .dropdown li {
    font-size: 2.3rem;
  }
}

@media (max-width: 900px) {
  .dd-btn {
    font-size: 2.9rem;
    /* line-height: 1; */
  }
  .dropdown li {
    font-size: 2rem;
  }
}

@media (max-width: 900px) and (max-height: 700px) {
  .form-container.signature-form {
    height: 70%;
  }
  .form-panel.sig-form-panel {
    height: 45dvh;
  }
}

@media (max-width: 900px) and (max-height: 640px) {
  .form-panel.sig-form-panel {
    height: 42dvh;
  }
}

@media (max-width: 900px) and (max-height: 550px) {
  .form-panel.sig-form-panel {
    height: 38dvh;
  }
}

@media (max-width: 900px) and (max-height: 480px) {
  .form-panel.sig-form-panel {
    height: 33dvh;
  }
}

@media (max-width: 900px) and (max-height: 430px) {
  .form-panel.sig-form-panel {
    height: 30dvh;
  }
}

@media (max-width: 760px) {
  .cake-orders h3 {
    font-size: 3.1rem;
  }

  .cake-heading h4 {
    font-size: 2.9rem;
  }

  .details-box p {
    font-size: 2.1rem;
  }
  .price-box span:nth-of-type(1) {
    font-size: 3.1rem;
  }
  .dlt-btn {
    padding-left: 4.8rem;
  }
}

@media (max-width: 660px) {
  .form-container.signature-form {
    width: 95%;
  }
  .form-panel.sig-form-panel {
    height: 60dvh;
    padding-right: 2.4rem;
    margin-top: 3.6rem;
  }

  .form-panel.sig-form-panel.ins-expanded {
    margin-top: 10rem;
  }

  .input-label-box .form-input,
  .sig-event-box .form-input,
  .dd-btn {
    font-size: 1.8rem;
  }

  .dd-btn {
    padding: 1.2rem 1.8rem 1.2rem 1.8rem;
  }
  .dd-btn span:not(:first-child) {
    font-size: 2.1rem;
  }

  .cake-details {
    margin-bottom: 0;
  }
  .sig-event-box {
    width: 54%;
    padding-right: 5.2rem;
  }
  .time-box {
    width: 50%;
  }
  .sig-event-box,
  .time-box,
  .size-box,
  .flav-box {
    height: 14rem;
  }

  .input-label-box {
    min-height: 14rem;
  }

  .add-cake-btn,
  .add-cake-btn-disabled {
    font-size: 2rem;
  }

  .add-cake-btn span:first-of-type,
  .add-cake-btn-disabled span:first-of-type {
    font-size: 2.9rem;
  }

  .cake-orders h3 {
    font-size: 2.6rem;
  }

  .cake-heading h4 {
    font-size: 2.1rem;
  }
  .details-box {
    flex-direction: column;
  }
  .details-box p {
    font-size: 2rem;
    padding-left: 1.2rem;
  }
  .price-box span:nth-of-type(1) {
    font-size: 2.6rem;
  }
  .price-box span:nth-of-type(2) {
    font-size: 1.8rem;
  }
}

@media (max-width: 660px) and (max-height: 1260px) {
  .form-panel.sig-form-panel {
    height: 57dvh;
  }
}

@media (max-width: 660px) and (max-height: 1180px) {
  .form-panel.sig-form-panel {
    height: 55dvh;
  }
}

@media (max-width: 660px) and (max-height: 1080px) {
  .form-container.signature-form {
    height: 100%;
  }
  .form-panel.sig-form-panel {
    height: 52dvh;
  }
}

@media (max-width: 660px) and (max-height: 1030px) {
  .form-container.signature-form {
    height: 100%;
  }
  .form-panel.sig-form-panel {
    height: 49dvh;
  }
}

@media (max-width: 660px) and (max-height: 960px) {
  .form-panel.sig-form-panel {
    height: 46dvh;
  }
}

@media (max-width: 660px) and (max-height: 920px) {
  .form-panel.sig-form-panel {
    height: 43dvh;
  }
}

@media (max-width: 660px) and (max-height: 850px) {
  .form-panel.sig-form-panel {
    height: 52dvh;
  }

  .form-panel.sig-form-panel {
    margin-top: 2.4rem;
  }
}

@media (max-width: 660px) and (max-height: 770px) {
  .form-panel.sig-form-panel {
    height: 49dvh;
  }
}

@media (max-width: 660px) and (max-height: 730px) {
  .form-panel.sig-form-panel {
    height: 46dvh;
  }
}

@media (max-width: 660px) and (max-height: 700px) {
  .form-panel.sig-form-panel {
    height: 55dvh;
  }
}

@media (max-width: 660px) and (max-height: 680px) {
  .form-panel.sig-form-panel {
    height: 51dvh;
  }
}

@media (max-width: 660px) and (max-height: 640px) {
  .form-panel.sig-form-panel {
    height: 47dvh;
  }
}
@media (max-width: 660px) and (max-height: 560px) {
  .form-panel.sig-form-panel {
    margin-top: 1.2rem;
    height: 43dvh;
  }
}

@media (max-width: 660px) and (max-height: 520px) {
  .form-panel.sig-form-panel {
    height: 39dvh;
  }
}

@media (max-width: 660px) and (max-height: 440px) {
  .form-panel.sig-form-panel {
    height: 35dvh;
  }
}

@media (max-width: 590px) {
  .cake-details {
    flex-direction: column;
  }
  .flav-box {
    width: 100%;
  }
  .size-box {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .cake-orders h3 {
    font-size: 2.3rem;
  }
  .order-summary p {
    font-size: 1.8rem;
    margin-right: 2.4rem;
  }
  .heading-box {
    padding: 0;
  }
  .edit-box,
  .price-box span:nth-of-type(1) {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .form-container.signature-form {
    height: 100%;
  }
  .form-panel.sig-form-panel {
    padding-right: 1.2rem;
  }
  .signature-event-details {
    flex-direction: column;
    /* height: max-content; */
  }
  .sig-event-box,
  .time-box {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .heading-box {
    flex-direction: column;
  }
  .cake-heading {
    flex-direction: column;
    align-items: unset;
  }
  .edit-box {
    width: 100%;
  }
  .price-box {
    flex-grow: 1;
  }
  .edit-btn {
    width: max-content;
    align-self: flex-end;
  }
  .dlt-btn {
    width: max-content;
  }
}

@media (max-width: 420px) {
  .form-container.signature-form {
    width: 93%;
  }
  .details-box p {
    font-size: 1.8rem;
    padding-left: 0;
  }

  .add-cake-btn,
  .add-cake-btn-disabled {
    font-size: 1.8rem;
  }
}
