.form-container.signature-form {
  justify-content: unset;
}

.add-btn-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 3.6rem;
}

.add-cake-btn,
.add-cake-btn-disabled {
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  font-family: raleway;
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.add-cake-btn span:first-of-type,
.add-cake-btn-disabled span:first-of-type {
  padding-right: 1.2rem;
  font-size: 3.6rem;
}

.add-cake-btn-disabled {
  display: none;
}

.form-panel.sig-form-panel {
  width: 100%;
  padding-right: 2.4rem;
}

.order-summary {
  display: flex;
}
.order-summary p {
  font-size: 2rem;
  margin-right: 2.4rem;
}

.order-summary p span {
  font-size: 2.9rem;
}
.size-box {
  width: 40%;
}

.flav-box {
  width: 53%;
  margin-right: 7.2rem;
}
.cake-details,
.cc-cake-details {
  display: flex;
  width: 100%;
  margin-bottom: 2.4rem;
}

.cc-flav-box,
.cc-qt-box {
  display: flex;
}

.cc-flav-box {
  width: 60%;
}

.cc-qt-box {
  width: 40%;
}
.cc-flav-slct {
  width: 90%;
}

.input-label-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}

.input-label-box.inscription-label {
  height: max-content;
}
.sig-event-box,
.time-box,
.size-box,
.flav-box {
  height: 20rem;
}

.signature-event-details {
  display: flex;
  width: 100%;
  margin-bottom: 2.4rem;
  /* margin-top: 9.7rem; */
}

.sig-event-box {
  width: 60%;
}
.sig-event-box .msg {
  max-width: 90%;
}
.time-box {
  width: 40%;
}
.dd-btn {
  border: none;
  border-bottom: 0.4rem solid #2d5059;
  font-size: 3.2rem;
  font-weight: 300;
  font-family: raleway;
  padding: 1.2rem 0 1.2rem 3.6rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.dd-btn span {
  color: #2d5059;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
}

.dd-btn span:not(:first-child) {
  font-size: 3.6rem;
  align-self: center;
  transform: rotate(-90deg);
}

.dd-btn.err-border {
  border-bottom: 0.4rem solid #ff0033;
}

span.active-opt {
  color: black;
  opacity: 1;
}

.dd-btn:hover {
  cursor: pointer;
}
.dd-label {
  font-size: 2.9rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
}
.dd-label-hidden {
  visibility: hidden;
}

.dropdown {
  background-color: white;
  list-style: none;
  position: absolute;
  box-shadow: 0 1rem 2rem rgba(45, 80, 89, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.dropdown.sig-flavor,
.dropdown.cc-flavor,
.dropdown.time {
  height: 40dvh;
  overflow-y: scroll;
}

.dropdown.sig-size {
  overflow-y: scroll;
}

.dropdown::-webkit-scrollbar {
  width: 0.8rem;
}
.dropdown::-webkit-scrollbar-track {
  background: white;
}
.dropdown::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
}
.dropdown li {
  font-size: 3.2rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  cursor: pointer;
}

.dropdown li:first-of-type {
  padding-top: 2.4rem;
}
.dropdown li:last-of-type {
  padding-bottom: 2.4rem;
}
.act-sig-flavor,
.act-cc-flavor,
.act-sig-size,
.act-time {
  background-color: #ff0055;
  color: white;
}

.cake-orders {
  margin-bottom: 2.4rem;
}
.cake-orders.mb-120 {
  margin-bottom: 4.8rem;
}
.heading-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3rem solid black;
  padding: 0 1.2rem 1.2rem 0rem;
  margin-bottom: 4.8rem;
  width: 100%;
}

.cake-orders h3 {
  font-size: 3.6rem;
}

.ord-exp {
  font-family: "fjalla one";
  font-size: 3.6rem;
  cursor: pointer;
}
.cake-heading {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3.6rem;
  justify-content: space-between;
  border-bottom: 0.3rem solid black;
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.errs {
  border-bottom: 0.3rem solid #ff0033;
}

.cake-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}
.details-box {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.cake-heading h4 {
  font-size: 3.2rem;
  white-space: nowrap;
}

.details-box p {
  font-size: 2.6rem;
  padding-left: 3.6rem;
  line-height: 1.5;
}
.price-box {
  font-size: 2.6rem;
}
.price-box span:nth-of-type(1) {
  font-family: "raleway";
  font-size: 3.6rem;
}

.price-box span:nth-of-type(2) {
  font-size: 2rem;
  font-family: "fjalla one";

  margin-right: 4.8rem;
}

.edit-box {
  cursor: pointer;
  display: flex;
  font-size: 2.6rem;
  font-family: "fjalla one";
  align-items: flex-end;
}

.edit-box span:first-of-type {
  padding-right: 0.8rem;
}

.rotate-up {
  transform: rotate(90deg);
}

.rotate-down {
  transform: rotate(-90deg);
}

.dlt-btn {
  padding-left: 2.4rem;
  color: #ff0033;
  cursor: pointer;
}
