.servings-content {
  display: flex;
  padding: 14.4rem 0 10.4rem 2.4rem;
  position: relative;
  min-width: 100%;
}
.serving-cards-container {
  min-width: 80%;
  display: flex;
  flex-wrap: wrap;
  max-height: max-content;
  overflow-x: hidden;
  overflow-y: scroll;
  row-gap: 2.4rem;
}

.serving-cards-container::-webkit-scrollbar {
  width: 0.8rem;
}
.serving-cards-container::-webkit-scrollbar-track {
  background: white;
}
.serving-cards-container::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
}

.serving-card {
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem 0 0;
}

.serving-card#card1-tier,
.serving-card#card2-tier {
  min-width: 31.5%;
}

.serving-card#card3-tier {
  min-width: 23.5%;
}

.serving-card#card4-tier,
.serving-card#card5-tier {
  height: 95%;
}

.serving-card#card5-tier {
  min-width: 47%;
}

.img-container {
  background-color: rgba(254, 229, 238, 0.35);
  border-radius: 3rem 3rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-container3-tier {
  height: 100%;
}
#img-container4-tier {
  height: 100%;
}
#img-container5-tier {
  height: 100%;
}
.serving-img {
  margin: 2.4rem 0;
}

#img1-tier,
#img2-tier {
  max-height: 25rem;
}
#img3-tier {
  max-height: 35rem;
}
#img4-tier {
  max-height: 50rem;
}
#img5-tier {
  max-height: 50rem;
}

.txt-container {
  border-top: 0.8rem solid #526166;
  background-color: rgba(171, 238, 255, 0.35);
  border-radius: 0 0 3rem 3rem;
  padding: 2.4rem;
}

.diameter-txt {
  color: #526166;
  font-size: 3.6rem;
  padding-bottom: 0.9rem;
  text-transform: uppercase;
}

.serving-txt {
  font-size: 4.1rem;
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  color: #2d5059;
}

.secondary-sub-head {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

@media (max-width: 2560px) and (max-height: 1293px) {
  #img1-tier,
  #img2-tier {
    max-height: 23rem;
  }
  .diameter-txt {
    font-size: 3.2rem;
  }

  .serving-txt {
    font-size: 3.9rem;
  }
}

@media (max-width: 2560px) and (max-height: 1240px) {
  #img1-tier,
  #img2-tier {
    max-height: 20rem;
  }
}

@media (max-width: 2560px) and (max-height: 1180px) {
  #img1-tier,
  #img2-tier {
    max-height: 18rem;
  }

  .diameter-txt {
    font-size: 2.9rem;
  }

  .serving-txt {
    font-size: 3.6rem;
  }
}

@media (max-width: 2560px) and (max-height: 1130px) {
  #img1-tier,
  #img2-tier {
    max-height: 16rem;
  }

  .diameter-txt {
    font-size: 2.6rem;
  }

  .serving-txt {
    font-size: 3.2rem;
  }
}

@media (max-width: 2560px) and (max-height: 1040px) {
  #img4-tier,
  #img5-tier {
    max-height: 40rem;
  }
}

@media (max-width: 2560px) and (max-height: 940px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 30rem;
  }
}

@media (max-width: 2560px) and (max-height: 860px) {
  .servings-content {
    padding: 12rem 2.4rem 10.2rem 4.8rem;
    height: 100dvh;
  }
}

@media (max-width: 2560px) and (max-height: 770px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 25rem;
  }
  .serving-card#card5-tier {
    min-width: 30%;
  }
}

@media (max-width: 2560px) and (max-height: 720px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }
}

@media (max-width: 2560px) and (max-height: 670px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 16rem;
  }
}

@media (max-width: 2560px) and (max-height: 650px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 18.5%;
  }
}

@media (max-width: 2560px) and (max-height: 620px) {
  #img1-tier {
    max-height: 12rem;
  }
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 2560px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 90%;
  }
  .serving-card#card4-tier {
    min-width: 32%;
  }
  .serving-card#card5-tier {
    min-width: 48.5%;
  }
  #img4-tier,
  #img5-tier {
    max-height: 14rem;
  }
}

@media (max-width: 2560px) and (max-height: 500px) {
  #img1-tier,
  #img3-tier,
  #img5-tier {
    max-height: 13rem;
  }

  #img2-tier {
    max-height: 11rem;
  }

  #img4-tier {
    max-height: 18rem;
  }

  #img5-tier {
    max-height: 20rem;
  }

  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    flex-direction: row;
    height: max-content;
  }

  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 18.5%;
  }

  .serving-card#card3-tier {
    min-width: 23.5%;
  }

  .serving-card#card4-tier {
    min-width: 32%;
  }

  .serving-card#card5-tier {
    min-width: 48%;
  }

  .img-container {
    height: max-content;
    border-radius: 3rem 0 0 3rem;
    padding: 2.4rem;
  }

  .txt-container {
    border-top: none;
    border-left: 0.8rem solid #526166;
    border-radius: 0 3rem 3rem 0;
    align-content: center;
  }

  .serving-card#card1-tier .img-container {
    min-width: 45%;
  }

  .serving-card#card1-tier .txt-container {
    min-width: 55%;
  }

  .serving-card#card3-tier .img-container,
  .serving-card#card4-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card3-tier .txt-container,
  .serving-card#card4-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card5-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card5-tier .txt-container {
    min-width: 60%;
  }
}

@media (max-width: 2532px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }
  .serving-card#card5-tier {
    min-width: 48.5%;
  }
}

@media (max-width: 2532px) and (max-height: 770px) {
  .serving-card#card5-tier {
    min-width: 30%;
  }
}

@media (max-width: 2532px) and (max-height: 530px) {
  .serving-card#card5-tier {
    min-width: 48%;
  }
}

@media (max-width: 2532px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 23.5%;
  }

  .serving-card#card4-tier {
    min-width: 32%;
  }

  .serving-card#card4-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card4-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card5-tier {
    min-width: 48%;
  }
}

@media (max-width: 2499px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }

  .serving-card#card5-tier {
    min-width: 48%;
  }
}

@media (max-width: 2499px) and (max-height: 770px) {
  .serving-card#card5-tier {
    min-width: 30%;
  }
}

@media (max-width: 2499px) and (max-height: 530px) {
  .serving-card#card5-tier {
    min-width: 48%;
  }
}

@media (max-width: 2499px) and (max-height: 500px) {
  .serving-card#card5-tier {
    min-width: 48%;
  }
}

@media (max-width: 2471px) {
  .serving-card#card4-tier {
    min-width: 31%;
  }
}

@media (max-width: 2432px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 31.5%;
  }
}

@media (max-width: 2432px) and (max-height: 650px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 18.5%;
  }
}

@media (max-width: 2432px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 23.5%;
  }

  .serving-card#card3-tier .img-container {
    min-width: 40%;
  }
  .serving-card#card3-tier .txt-container {
    min-width: 60%;
  }
}

@media (max-width: 2405px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 91%;
    min-width: 90%;
  }
  .serving-card#card2-tier,
  .serving-card#card3-tier {
    min-width: 23.5%;
  }

  .serving-card#card5-tier {
    min-width: 48%;
  }

  .serving-card#card2-tier .img-container,
  .serving-card#card3-tier .img-container {
    min-width: 40%;
  }
  .serving-card#card2-tier .img-container,
  .serving-card#card3-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card5-tier .img-container {
    min-width: 30%;
  }

  .serving-card#card5-tier .txt-container {
    min-width: 70%;
  }
}

@media (max-width: 2370px) {
  .serving-cards-container {
    min-width: 86%;
  }
}

@media (max-width: 2250px) and (max-height: 500px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier {
    min-width: 23.5%;
  }
  .serving-card#card1-tier .txt-container {
    min-width: 56%;
  }

  .serving-card#card1-tier .img-container {
    min-width: 44%;
  }

  .serving-card#card2-tier .txt-container,
  .serving-card#card3-tier .txt-container {
    min-width: 61%;
  }

  .serving-card#card2-tier .img-container,
  .serving-card#card3-tier .img-container {
    min-width: 39%;
  }
}

@media (max-width: 2190px) {
  .serving-cards-container {
    min-width: 85%;
  }
}

@media (max-width: 2170px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }
}
@media (max-width: 2170px) and (max-height: 650px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 17%;
  }
}

@media (max-width: 2170px) and (max-height: 530px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 18.5%;
  }
}

@media (max-width: 2170px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 23%;
  }

  .serving-card#card1-tier .img-container {
    min-width: 46%;
  }

  .serving-card#card1-tier .txt-container {
    min-width: 54%;
  }

  .serving-card#card2-tier {
    min-width: 23%;
  }

  .serving-card#card2-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card2-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card3-tier {
    min-width: 23.5%;
  }
  .serving-card#card3-tier .img-container {
    min-width: 48%;
  }
  .serving-card#card3-tier .txt-container {
    min-width: 52%;
  }
}

@media (max-width: 2161px) {
  .serving-card#card3-tier {
    min-width: 22.5%;
  }
}

@media (max-width: 2161px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 23.5%;
  }
}

@media (max-width: 2160px) and (max-height: 1260px) {
  #img1-tier,
  #img2-tier {
    max-height: 16rem;
  }
  .diameter-txt {
    font-size: 2.9rem;
  }
  .serving-txt {
    font-size: 3.6rem;
  }
}

@media (max-width: 2160px) and (max-height: 1210px) {
  #img1-tier,
  #img2-tier {
    max-height: 13rem;
  }
}

@media (max-width: 2160px) and (max-height: 1180px) {
  #img4-tier,
  #img5-tier {
    max-height: 40rem;
  }
}

@media (max-width: 2160px) and (max-height: 1110px) {
  .diameter-txt {
    font-size: 2.8rem;
  }
  .serving-txt {
    font-size: 3.6rem;
  }
}

@media (max-width: 2160px) and (max-height: 1100px) {
  #img3-tier {
    max-height: 30rem;
  }
}

@media (max-width: 2160px) and (max-height: 770px) {
  .servings-content {
    flex-direction: row;
    min-width: 100dvw;
    max-width: 100dvw;
  }

  .serving-cards-container {
    min-width: 85%;
  }

  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 30%;
  }
  .serving-card {
    min-height: max-content;
  }
  .img-container {
    max-height: 100%;
  }

  .serving-card#card3-tier {
    min-width: 23%;
  }
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 25rem;
  }
}

@media (max-width: 2160px) and (max-height: 620px) {
  #img1-tier,
  #img2-tier {
    max-height: 12rem;
  }
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 2160px) and (max-height: 560px) {
  .serving-img {
    margin: 1.2rem 0;
  }
  .serving-cards-container {
    margin-top: 0;
  }
  .servings-content.one-tier,
  .servings-content.two-tier,
  .servings-content.three-tier,
  .servings-content.four-tier,
  .servings-content.five-tier {
    padding-top: 15.6rem;
  }
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }
}

@media (max-width: 2160px) and (max-height: 530px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 18.5%;
  }

  .serving-card#card3-tier {
    min-width: 23.5%;
  }
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    height: 60%;
  }

  .serving-cards-container {
    min-width: 90%;
  }
}

@media (max-width: 2160px) and (max-height: 500px) {
  .servings-content {
    padding-top: 12rem;
  }
  .serving-cards-container {
    max-width: 85%;
  }
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 23.5%;
  }

  .serving-card#card3-tier {
    min-width: 32%;
    height: max-content;
  }

  #img3-tier {
    max-height: 12rem;
  }

  .serving-card#card1-tier .img-container,
  .serving-card#card2-tier .img-container {
    min-width: 45%;
  }
  .serving-card#card1-tier .txt-container,
  .serving-card#card2-tier .txt-container {
    min-width: 55%;
  }

  #img5-tier {
    max-height: 19rem;
  }
}

@media (max-width: 2160px) and (max-height: 480px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 12rem;
  }
}

@media (max-width: 2090px) and (max-height: 500px) {
  .serving-card#card1-tier .txt-container {
    min-width: 52%;
  }
}

@media (max-width: 2080px) and (max-height: 530px) {
  .serving-card#card4-tier {
    min-width: 31%;
  }
}

@media (max-width: 2056px) and (max-height: 500px) {
  .serving-card#card3-tier,
  .serving-card#card4-tier {
    min-width: 31%;
  }
}

@media (max-width: 2049px) {
  .serving-cards-container {
    min-width: 82%;
  }
}

@media (max-width: 2040px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 82%;
  }
}

@media (max-width: 2040px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 90%;
  }
}

@media (max-width: 2033px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 89%;
  }
  .serving-card#card2-tier {
    min-width: 31%;
  }

  .serving-card#card4-tier {
    min-width: 31%;
  }

  #img4-tier {
    max-height: 17rem;
  }
}

@media (max-width: 2000px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 85%;
  }
}

@media (max-width: 2000px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 90%;
  }
}

@media (max-width: 2000px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 89%;
  }
}

@media (max-width: 2000px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 88%;
  }
}

@media (max-width: 1980px) and (max-height: 500px) {
  .serving-card#card1-tier .txt-container {
    min-width: 48%;
  }
}

@media (max-width: 1920px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 89%;
  }
}

@media (max-width: 1920px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 78%;
  }
}

@media (max-width: 1895px) and (max-height: 620px) {
  .serving-cards-container {
    min-width: 82%;
  }
}

@media (max-width: 1895px) and (max-height: 560px) {
  .serving-cards-container {
    min-width: 78%;
  }
}

@media (max-width: 1895px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 89%;
  }
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 18.5%;
  }
}

@media (max-width: 1895px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 89%;
  }
}

@media (max-width: 1890px) and (max-height: 480px) {
  .servings-content.one-tier,
  .servings-content.two-tier,
  .servings-content.three-tier,
  .servings-content.four-tier,
  .servings-content.five-tier {
    padding-top: 13.2rem;
  }
}

@media (max-width: 1880px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card4-tier {
    min-width: 31%;
  }
}

@media (max-width: 1880px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 23%;
  }
  .serving-card#card1-tier .txt-container {
    min-width: 48%;
  }
}
@media (max-width: 1871px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 31%;
  }

  #img1-tier,
  #img2-tier {
    max-height: 17rem;
  }
}

@media (max-width: 1871px) and (max-height: 1200px) {
  #img1-tier,
  #img2-tier {
    max-height: 13rem;
  }
}

@media (max-width: 1871px) and (max-height: 500px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 31%;
  }
  .serving-card#card1-tier .img-container,
  .serving-card#card2-tier .img-container {
    min-width: 50%;
  }
  .serving-card#card1-tier .txt-container,
  .serving-card#card2-tier .txt-container {
    min-width: 50%;
  }
}

@media (max-width: 1820px) {
  .serving-card#card3-tier {
    min-width: 20%;
  }
}

@media (max-width: 1820px) and (max-height: 530px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }
}

@media (max-width: 1819px) and (max-height: 770px) {
  .serving-card#card2-tier {
    min-width: 31%;
  }
  #img-container2-tier {
    height: max-content;
  }
}

@media (max-width: 1802px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }

  .diameter-txt {
    font-size: 3.1rem;
  }
  .serving-txt {
    font-size: 3.9rem;
  }
}

@media (max-width: 1802px) and (max-height: 530px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1802px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 31%;
  }
}

@media (max-width: 1770px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 83%;
  }
}

@media (max-width: 1770px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 80%;
  }
}

@media (max-width: 1770px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 89%;
  }
}

@media (max-width: 1760px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 31%;
  }
  .serving-card#card1-tier .img-container {
    min-width: 50%;
  }

  .serving-card#card1-tier .txt-container {
    min-width: 50%;
  }
}

@media (max-width: 1741px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 28%;
  }
  #img4-tier {
    max-height: 16rem;
  }

  .serving-card#card4-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card4-tier .txt-container {
    min-width: 60%;
  }
}

@media (max-width: 1737px) and (max-height: 560px) {
  .serving-cards-container {
    min-width: 88%;
  }
}

@media (max-width: 1737px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 87%;
  }
}

@media (max-width: 1723px) and (max-height: 1150px) {
  .diameter-txt {
    font-size: 2.6rem;
  }

  .serving-txt {
    font-size: 3.2rem;
  }
}

@media (max-width: 1723px) and (max-height: 620px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1719px) {
  .serving-cards-container {
    min-width: 78%;
  }
}

@media (max-width: 1715px) and (max-height: 500px) {
  #img4-tier {
    max-height: 14rem;
  }
}

@media (max-width: 1700px) and (max-height: 770px) {
  .serving-card#card3-tier {
    min-width: 22%;
  }

  .serving-card#card4-tier {
    min-width: 30%;
  }
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }
  .diameter-txt {
    font-size: 2rem;
  }

  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1700px) and (max-height: 530px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }

  .serving-card#card3-tier {
    min-width: 23%;
  }
}

@media (max-width: 1700px) and (max-height: 500px) {
  .serving-card#card3-tier,
  .serving-card#card4-tier {
    min-width: 31%;
  }
  #img3-tier,
  #img4-tier {
    max-height: 12rem;
  }

  #img5-tier {
    max-height: 19rem;
  }
}

@media (max-width: 1632px) {
  .serving-card#card3-tier {
    min-width: 23.5%;
  }
  #img3-tier {
    max-height: 30rem;
  }

  #img4-tier,
  #img5-tier {
    max-height: 40rem;
  }
  .diameter-txt {
    font-size: 2.9rem;
  }

  .serving-txt {
    font-size: 3.6rem;
  }
}

@media (max-width: 1632px) and (max-height: 1150px) {
  .diameter-txt {
    font-size: 2.4rem;
  }

  .serving-txt {
    font-size: 2.9rem;
  }
}

@media (max-width: 1632px) and (max-height: 770px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }
  .diameter-txt {
    font-size: 2rem;
  }

  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1632px) and (max-height: 530px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }
}

@media (max-width: 1632px) and (max-height: 500px) {
  .serving-card#card3-tier,
  .serving-card#card4-tier {
    min-width: 31%;
  }
  #img3-tier,
  #img4-tier {
    max-height: 12rem;
  }

  #img5-tier {
    max-height: 19rem;
  }
}

@media (max-width: 1628px) and (max-height: 500px) {
  .serving-card#card2-tier {
    min-width: 47%;
  }
}

@media (max-width: 1620px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 87%;
  }
}

@media (max-width: 1617px) {
  .diameter-txt {
    font-size: 2.6rem;
  }
  .serving-txt {
    font-size: 3.2rem;
  }
}

@media (max-width: 1617px) and (max-height: 530px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1617px) and (max-height: 500px) {
  .serving-card#card1-tier .txt-container,
  .serving-card#card2-tier .txt-container {
    min-width: 58%;
  }

  .serving-card#card1-tier .img-container,
  .serving-card#card2-tier .img-container {
    min-width: 42%;
  }
}

@media (max-width: 1608px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 31%;
  }

  #img4-tier {
    max-height: 11rem;
  }
}

@media (max-width: 1594px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 31%;
  }
  #img3-tier {
    max-height: 11rem;
  }

  .serving-card#card3-tier .txt-container {
    min-width: 61%;
  }

  .serving-card#card3-tier .img-container {
    min-width: 39%;
  }
}

@media (max-width: 1581px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 47%;
  }

  #img4-tier {
    max-height: 16rem;
  }
}

@media (max-width: 1580px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 83%;
  }

  .serving-card#card1-tier {
    min-width: 30%;
  }
  #img-container1-tier {
    height: max-content;
  }
}

@media (max-width: 1580px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 80%;
  }
}

@media (max-width: 1560px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 47%;
  }

  .serving-card#card3-tier .img-container {
    padding: 2.4rem 1.2rem 2.4rem 1.2rem;
  }
  #img3-tier {
    max-height: 12rem;
  }

  .serving-card#card3-tier .txt-container {
    min-width: 70%;
  }

  .serving-card#card3-tier .img-container {
    min-width: 30%;
  }
}

@media (max-width: 1510px) {
  #img3-tier {
    max-height: 25rem;
  }

  #img4-tier,
  #img5-tier {
    max-height: 35rem;
  }
  .diameter-txt {
    font-size: 2.6rem;
  }

  .serving-txt {
    font-size: 3.2rem;
  }
}
@media (max-width: 1510px) and (max-height: 1150px) {
  .serving-card#card2-tier {
    min-width: 30%;
    min-height: max-content;
  }

  #img-container2-tier {
    max-height: max-content;
  }
}

@media (max-width: 1510px) and (max-height: 770px) {
  #img3-tier {
    max-height: 20rem;
  }

  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }

  .diameter-txt {
    font-size: 2rem;
  }

  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1510px) and (max-height: 530px) {
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }
}

@media (max-width: 1510px) and (max-height: 500px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 47%;
  }

  .serving-card#card1-tier .img-container,
  .serving-card#card2-tier .img-container {
    min-width: 50%;
  }
  .serving-card#card1-tier .txt-container,
  .serving-card#card2-tier .txt-container {
    min-width: 50%;
  }

  #img3-tier {
    max-height: 12rem;
  }

  #img4-tier {
    max-height: 16rem;
  }

  #img5-tier {
    max-height: 17rem;
  }
}

@media (max-width: 1490px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 86%;
  }
}

@media (max-width: 1490px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 75%;
  }
  #img1-tier,
  #img2-tier {
    max-height: 10rem;
  }
}

@media (max-width: 1490px) and (max-height: 500px) {
  .serving-card#card5-tier {
    min-width: 47%;
  }

  #img5-tier {
    max-height: 15rem;
  }
}

@media (max-width: 1480px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 86%;
  }

  .serving-card#card3-tier {
    min-width: 46%;
  }

  .serving-card#card5-tier {
    min-width: 47%;
  }
}

@media (max-width: 1477px) and (max-height: 530px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }

  .serving-card#card5-tier {
    min-width: 47%;
  }
}

@media (max-width: 1473px) {
  .diameter-txt {
    font-size: 2.6rem;
  }
  .serving-txt {
    font-size: 3.1rem;
  }
}

@media (max-width: 1473px) and (max-height: 770px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1462px) and (max-height: 770px) {
  .serving-card#card4-tier {
    min-width: 29%;
  }
}

@media (max-width: 1462px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 47%;
  }
}

@media (max-width: 1450px) {
  .diameter-txt {
    font-size: 2.5rem;
  }
}

@media (max-width: 1450px) and (max-height: 530px) {
  .diameter-txt {
    font-size: 2rem;
  }
}

@media (max-width: 1406px) {
  .serving-card#card1-tier {
    min-width: 30%;
  }
  .serving-txt {
    font-size: 2.9rem;
  }
  .diameter-txt {
    font-size: 2rem;
  }
}

@media (max-width: 1406px) and (max-height: 530px) {
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1405px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 81%;
  }

  #img-container3-tier {
    max-height: max-content;
  }
  .serving-card#card3-tier {
    min-width: 47%;
    max-height: max-content;
  }
}

@media (max-width: 1405px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 74%;
  }
}

@media (max-width: 1405px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 86%;
  }

  .serving-card#card3-tier {
    min-width: 31%;
  }
}

@media (max-width: 1405px) and (max-height: 500px) {
  #img5-tier {
    max-height: 14rem;
  }
}

@media (max-width: 1400px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 83%;
  }

  .serving-card#card3-tier {
    min-width: 47%;
  }

  .serving-card#card5-tier {
    min-width: 47%;
  }
}

@media (max-width: 1393px) and (max-height: 770px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1393px) and (max-height: 480px) {
  #img4-tier {
    max-height: 12rem;
  }
}

@media (max-width: 1380px) and (max-height: 480px) {
  #card4-tier {
    min-width: 47%;
    min-height: max-content;
  }
}

@media (max-width: 1370px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 83%;
    min-width: 83%;
  }
}

@media (max-width: 1330px) and (max-height: 770px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1330px) and (max-height: 500px) {
  .serving-card#card3-tier .img-container {
    min-width: 50%;
  }

  .serving-card#card3-tier .txt-container {
    min-width: 50%;
  }
}

@media (max-width: 1330px) and (max-height: 480px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 30%;
  }
}

@media (max-width: 1323px) {
  .serving-card#card3-tier {
    min-width: 23%;
  }
}

@media (max-width: 1323px) and (max-height: 860px) {
  .servings-content {
    padding: 12rem 2.4rem 10.2rem 2.4rem;
  }
}

@media (max-width: 1323px) and (max-height: 530px) {
  .serving-card#card3-tier {
    min-width: 31%;
  }
}

@media (max-width: 1323px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 47%;
  }
}

@media (max-width: 1305px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 83%;
  }
}

@media (max-width: 1305px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 76%;
  }
}

@media (max-width: 1305px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 86%;
  }
}

@media (max-width: 1290px) and (max-height: 1240px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1280px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 80%;
  }
}

@media (max-width: 1280px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 74%;
  }
}
@media (max-width: 1280px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 85%;
  }
}

@media (max-width: 1266px) and (max-height: 530px) {
  .serving-card#card3-tier {
    min-width: 30%;
  }
}

@media (max-width: 1231px) {
  .serving-card#card3-tier {
    min-width: 46%;
    height: max-content;
  }
  #img3-tier {
    max-height: 20rem;
  }

  .serving-card#card5-tier {
    min-width: 47%;
  }
}

@media (max-width: 1231px) and (max-height: 530px) {
  #img3-tier {
    max-height: 12rem;
  }
}

@media (max-width: 1227px) {
  .serving-card#card5-tier {
    min-width: 47%;
  }
}
@media (max-width: 1227px) and (max-height: 770px) {
  .serving-card#card5-tier {
    min-width: 30%;
  }
}
@media (max-width: 1227px) and (max-height: 530px) {
  .serving-card#card5-tier {
    min-width: 47%;
  }
}
@media (max-width: 1223px) and (max-height: 1150px) {
  .serving-card#card1-tier {
    min-width: 30%;
    max-height: max-content;
  }
  #img-container1-tier {
    max-height: max-content;
  }
}

@media (max-width: 1223px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 47%;
  }
  .serving-card#card1-tier .img-container {
    min-width: 50%;
  }
  .serving-card#card1-tier .txt-container {
    min-width: 50%;
  }
}

@media (max-width: 1220px) and (max-height: 500px) {
  #img4-tier {
    max-height: 11rem;
  }
}

@media (max-width: 1206px) {
  .serving-cards-container {
    max-width: 71%;
    min-width: 65%;
  }

  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 45%;
  }
}

@media (max-width: 1206px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 73%;
  }
}

@media (max-width: 1200px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 78%;
  }

  .serving-card#card5-tier {
    max-width: 46%;
    min-width: 44%;
  }

  #img5-tier {
    max-height: 12rem;
  }
}

@media (max-width: 1200px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 73%;
  }
}

@media (max-width: 1200px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 86%;
  }
  .serving-card#card5-tier {
    min-width: 46%;
  }
}

@media (max-width: 1190px) and (max-height: 770px) {
  .serving-card#card4-tier {
    min-width: 46%;
  }
}

@media (max-width: 1181px) and (max-height: 500px) {
  #img4-tier {
    max-width: 10rem;
  }
}

@media (max-width: 1160px) and (max-height: 500px) {
  .serving-card#card2-tier .img-container {
    min-width: 43%;
    padding: 1.2rem;
  }

  .serving-card#card2-tier .txt-container {
    min-width: 57%;
  }

  #img2-tier {
    max-height: 12rem;
  }

  .serving-card#card4-tier {
    min-width: 43%;
  }

  #img4-tier {
    max-width: 9rem;
  }
}

@media (max-width: 1141px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 78%;
    max-width: 83%;
  }
  .serving-card#card4-tier {
    min-width: 46%;
  }
  #img4-tier {
    max-height: 15rem;
  }
}

@media (max-width: 1124px) and (max-height: 500px) {
  #img4-tier {
    max-height: 9rem;
  }
}

@media (max-width: 1110px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 76%;
  }
}

@media (max-width: 1110px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 72%;
  }
}

@media (max-width: 1110px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 84%;
  }
}

@media (max-width: 1100px) {
  .serving-cards-container {
    max-width: 68%;
    min-width: 65%;
  }

  .serving-card#card1-tier {
    min-width: 45%;
  }
}

@media (max-width: 1100px) and (max-height: 480px) {
  #img2-tier {
    max-height: 15rem;
  }
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 1090px) and (max-height: 770px) {
  .serving-card#card1-tier {
    min-width: 45%;
  }
}

@media (max-width: 1090px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 47%;
  }

  .serving-card#card1-tier .img-container {
    min-width: 50%;
  }
  .serving-card#card1-tier .txt-container {
    min-width: 50%;
  }
}

@media (max-width: 1087px) and (max-height: 500px) {
  .serving-card#card4-tier .img-container {
    min-width: 35%;
  }
  .serving-card#card4-tier .txt-container {
    min-width: 65%;
  }

  .serving-card#card4-tier {
    max-width: 45%;
  }
}

@media (max-width: 1080px) and (max-height: 500px) {
  .serving-card#card2-tier .img-container {
    min-width: 38%;
    padding: 1.2rem;
  }

  .serving-card#card2-tier .txt-container {
    min-width: 62%;
  }

  .diameter-txt {
    font-size: 1.8rem;
  }

  .serving-txt {
    font-size: 2.3rem;
  }

  #img2-tier {
    max-height: 10rem;
  }
}

@media (max-width: 1063px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 46%;
  }

  .serving-card#card4-tier {
    min-width: 46%;
    max-width: 46%;
    height: max-content;
  }
  #img4-tier {
    max-height: 32rem;
  }

  #img-container4-tier {
    max-height: max-content;
  }
}

@media (max-width: 1063px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 72%;
  }

  #img4-tier,
  #img5-tier {
    max-height: 18rem;
  }
}

@media (max-width: 1063px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 60%;
  }
}

@media (max-width: 1063px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 84%;
  }
  .serving-card#card1-tier {
    min-width: 47%;
  }

  .serving-card#card1-tier .img-container {
    min-width: 50%;
  }
  .serving-card#card1-tier .txt-container {
    min-width: 50%;
  }

  #img4-tier {
    max-height: 12rem;
  }

  #img5-tier {
    max-height: 12rem;
  }
}

@media (max-width: 1060px) {
  .serving-card#card4-tier {
    min-width: 46%;
    max-height: max-content;
  }
}

@media (max-width: 1060px) and (max-height: 500px) {
  .serving-card#card3-tier .img-container {
    min-width: 45%;
  }
  #img3-tier {
    max-height: 11rem;
  }

  .serving-card#card3-tier .txt-container {
    min-width: 55%;
  }
}

@media (max-width: 1060px) and (max-height: 480px) {
  .serving-cards-container {
    max-width: 81%;
  }
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 46%;
    max-width: 46%;
  }
}

@media (max-width: 1024px) and (max-height: 770px) {
  .serving-cards-container {
    max-width: 74%;
  }

  .serving-cards-container.four-tier {
    justify-content: center;
  }
  .serving-card#card4-tier {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (max-width: 1024px) and (max-height: 620px) {
  .serving-cards-container {
    min-width: 80%;
  }
}

@media (max-width: 1024px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 83%;
  }
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 45%;
  }

  .serving-cards-container.four-tier {
    justify-content: unset;
  }
}
@media (max-width: 1024px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 81%;
  }
  .serving-card#card1-tier {
    min-width: 45%;
  }

  .serving-card#card3-tier,
  .serving-card#card4-tier {
    max-width: 46%;
    min-width: 45%;
  }
  .serving-cards-container.four-tier {
    justify-content: unset;
  }

  .serving-card#card5-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card5-tier .img-container {
    min-width: 40%;
  }
}

@media (max-width: 1010px) and (max-height: 770px) {
  .serving-card#card1-tier {
    min-width: 45%;
  }
  .serving-card#card2-tier {
    min-width: 46%;
  }
}

@media (max-width: 1010px) and (max-height: 500px) {
  .servings-content {
    flex-direction: column;
    padding-top: 12rem;
    padding-bottom: 9rem;
  }
  .serving-cards-container {
    max-width: 98%;
  }
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 47%;
  }

  .serving-cards-container.four-tier {
    justify-content: unset;
  }

  .serving-card#card2-tier .txt-container {
    min-width: 55%;
  }

  .serving-card#card2-tier .img-container {
    min-width: 45%;
  }

  #img2-tier {
    max-height: 12.5rem;
  }

  .serving-card#card3-tier .txt-container,
  .serving-card#card4-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card3-tier .img-container,
  .serving-card#card4-tier .img-container {
    min-width: 40%;
  }

  #img3-tier {
    height: 12rem;
  }

  #img4-tier {
    height: 12rem;
  }

  #img5-tier {
    height: 16rem;
  }
}

@media (max-width: 990px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 73%;
  }
  .serving-card#card1-tier {
    min-width: 46%;
  }
}

@media (max-width: 990px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 60%;
  }
}

@media (max-width: 990px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 80%;
  }
}

@media (max-width: 990px) and (max-height: 480px) {
  .serving-card#card2-tier {
    min-width: 46%;
  }
}

@media (max-width: 980px) {
  .servings-content {
    flex-direction: column;
  }
  .serving-cards-container {
    min-width: 98%;
  }
  .serving-card#card1-tier {
    min-width: 30%;
  }
}

@media (max-width: 975px) and (max-height: 500px) {
  .serving-card#card2-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card2-tier .txt-container {
    min-width: 60%;
  }
  #img2-tier {
    max-height: 10rem;
  }
}

@media (max-width: 972px) and (max-height: 500px) {
  .serving-card#card5-tier {
    max-width: 40%;
  }
  #img5-tier {
    height: 15rem;
  }

  .serving-card#card5-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card5-tier .txt-container {
    min-width: 50%;
  }
}
@media (max-width: 943px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 70%;
    max-width: 70%;
  }
}

@media (max-width: 943px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 98%;
  }
}

@media (max-width: 943px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 79%;
  }
}

@media (max-width: 943px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 98%;
  }
  .serving-card#card3-tier .txt-container {
    min-width: 65%;
  }

  .serving-card#card3-tier .img-container {
    min-width: 35%;
  }

  #img3-tier {
    min-width: none;
    height: 9rem;
  }
}

@media (max-width: 943px) and (max-height: 480px) {
  .serving-card#card1-tier {
    min-width: 46%;
  }
}

@media (max-width: 931px) and (max-height: 530px) {
  .serving-card#card5-tier {
    min-width: 98%;
  }
}

@media (max-width: 930px) and (max-height: 770px) {
  .serving-card#card1-tier {
    min-width: 46%;
  }
}

@media (max-width: 910px) and (max-height: 500px) {
  .serving-card#card1-tier .img-container,
  .serving-card#card2-tier .img-container,
  .serving-card#card3-tier .img-container,
  .serving-card#card4-tier .img-container,
  .serving-card#card5-tier .img-container {
    padding: 1.2rem;
  }
  .serving-card#card2-tier .img-container {
    min-width: 40%;
  }

  #img2-tier {
    max-height: 9.5rem;
  }
  .serving-card#card2-tier .txt-container {
    min-width: 60%;
  }
}
@media (max-width: 880px) and (max-height: 770px) {
  .serving-cards-container {
    justify-content: center;
    min-width: 68%;
    max-width: 68%;
  }
  .serving-card#card1-tier {
    min-width: 85%;
  }
}

@media (max-width: 880px) and (max-height: 650px) {
  .serving-cards-container {
    justify-content: unset;
    max-width: 98%;
  }

  .serving-card#card1-tier {
    min-width: 46%;
  }
}

@media (max-width: 880px) and (max-height: 530px) {
}

@media (max-width: 880px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 47%;
  }

  .serving-card#card3-tier {
    min-width: 47%;
  }
}

@media (max-width: 872px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 46%;
  }

  .serving-card#card4-tier {
    min-width: 46%;
  }
}

@media (max-width: 867px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 67%;
    max-width: 67%;
  }
  .serving-card#card5-tier {
    min-width: 90%;
  }
}

@media (max-width: 867px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 100%;
  }
}

@media (max-width: 867px) and (max-height: 530px) {
  .serving-cards-container {
    justify-content: unset;
    max-width: 98%;
  }

  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 45%;
  }

  .serving-card#card5-tier {
    min-width: 98%;
  }
}

@media (max-width: 867px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 98%;
  }

  .serving-card#card1-tier {
    min-width: 47%;
  }

  .serving-card#card5-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card5-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card5-tier {
    min-width: 97%;
  }
}
@media (max-width: 861px) and (max-height: 770px) {
  .serving-card#card3-tier {
    min-width: 92%;
  }
}

@media (max-width: 861px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 46%;
  }

  #img3-tier {
    height: 8rem;
  }

  .serving-card#card3-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card3-tier .txt-container {
    min-width: 60%;
  }
  .serving-card#card4-tier {
    min-width: 46%;
  }
  #img4-tier {
    height: 9rem;
  }
}

@media (max-width: 850px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 98%;
  }
  .servings-content {
    flex-direction: column;
    padding-top: 12rem;
  }
}

@media (max-width: 848px) {
  .servings-content {
    padding-top: 9.4rem;
  }
}

@media (max-width: 848px) and (max-height: 500px) {
  .servings-content {
    padding-top: 9.4rem;
  }
  .serving-cards-container {
    max-width: 98%;
  }

  .serving-card#card1-tier {
    min-width: 46%;
  }
  .serving-card#card2-tier {
    min-width: 42%;
    max-width: 46%;
  }
}

@media (max-width: 839px) and (max-height: 530px) {
  .serving-card#card4-tier {
    min-width: 40%;
    max-width: 45%;
  }
}
@media (max-width: 839px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 98%;
    justify-content: unset;
  }
  .serving-card#card1-tier,
  .serving-card#card3-tier {
    min-width: 46%;
  }

  #img1-tier {
    max-height: 9rem;
  }
  .serving-card#card1-tier .img-container,
  .serving-card#card2-tier .img-container {
    min-width: max-content;
  }

  .serving-card#card1-tier .txt-container,
  .serving-card#card2-tier .txt-container,
  .serving-card#card4-tier .txt-container {
    flex-grow: 1;
  }

  .serving-card#card3-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card3-tier .txt-container {
    min-width: 60%;
  }

  .serving-card#card4-tier .img-container {
    min-width: 35%;
  }

  .serving-card#card4-tier .txt-container {
    min-width: 65%;
  }

  .serving-card#card5-tier .img-container {
    min-width: 40%;
  }

  .serving-card#card5-tier .txt-container {
    min-width: 60%;
  }
}

@media (max-width: 838px) {
  .serving-card#card4-tier {
    min-width: 46%;
  }
}

@media (max-width: 838px) and (max-height: 770px) {
  .serving-card#card4-tier {
    min-width: 80%;
  }
}

@media (max-width: 838px) and (max-height: 530px) {
  .serving-card#card4-tier {
    min-width: 92%;
  }
}

@media (max-width: 838px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 46%;
  }
}

@media (max-width: 834px) and (max-height: 770px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 85%;
    max-width: 85%;
  }
}

@media (max-width: 834px) and (max-height: 650px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 46%;
  }
}

@media (max-width: 834px) and (max-height: 530px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 45%;
  }
}

@media (max-width: 834px) and (max-height: 500px) {
  .serving-cards-container {
    max-width: 98%;
    justify-content: unset;
  }
  .serving-card#card1-tier {
    min-width: 46%;
    max-width: 46%;
  }
}

@media (max-width: 823px) {
  .serving-card#card5-tier {
    min-width: 95%;
    height: max-content;
  }
}

@media (max-width: 823px) and (max-height: 1150px) {
  .serving-card#card2-tier {
    min-width: 45%;
  }
}

@media (max-width: 823px) and (max-height: 500px) {
  .serving-card#card5-tier {
    min-width: 97%;
  }
}

@media (max-width: 810px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 95%;
  }

  .serving-card#card4-tier .img-container {
    min-width: 30%;
  }

  .serving-card#card4-tier .txt-container {
    min-width: 70%;
  }
  #img4-tier {
    height: 15rem;
  }
}

@media (max-width: 800px) and (max-height: 770px) {
  .servings-content.five-tier {
    flex-direction: column;
  }

  .serving-card#card4-tier {
    min-width: 90%;
  }
  .serving-card#card5-tier {
    min-width: 90%;
  }
}

@media (max-width: 800px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 96%;
  }

  .serving-card#card5-tier {
    min-width: 97%;
  }
}

@media (max-width: 800px) and (max-height: 480px) {
  .serving-cards-container {
    min-width: 96%;
  }
}

@media (max-width: 794px) and (max-height: 500px) {
  .diameter-txt {
    font-size: 1.8rem;
  }
  .serving-txt {
    font-size: 2.3rem;
  }
}

@media (max-width: 790px) and (max-height: 1240px) {
  #img3-tier {
    max-height: 20rem;
  }
}

@media (max-width: 780px) and (max-height: 500px) {
  #img2-tier {
    max-height: 8rem;
  }
}

@media (max-width: 766px) {
  .serving-card#card1-tier {
    min-width: 46%;
  }

  #img1-tier {
    max-height: 12rem;
  }
}

@media (max-width: 766px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 50%;
    max-width: 60%;
  }
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 85%;
  }
}

@media (max-width: 766px) and (max-height: 650px) {
  .serving-cards-container {
    min-width: 98%;
  }
  .serving-card#card1-tier {
    min-width: 45%;
  }
}

@media (max-width: 766px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 75%;
  }

  .serving-card#card1-tier {
    min-width: 43%;
  }

  .serving-card#card2-tier {
    min-width: 94%;
  }
}

@media (max-width: 766px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 98%;
  }

  .serving-card#card1-tier {
    min-width: 46%;
  }

  .serving-card#card1-tier #img-container1-tier {
    padding: 1.2rem;
  }
}

@media (max-width: 775px) and (max-height: 500px) {
  .serving-card#card3-tier {
    min-width: 40%;
    max-width: 46%;
  }
}

@media (max-width: 751px) and (max-height: 1150px) {
  .serving-card#card1-tier {
    min-width: 45%;
  }
}
@media (max-width: 751px) and (max-height: 770px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 95%;
  }
}

@media (max-width: 751px) and (max-height: 650px) {
  .serving-card#card1-tier {
    min-width: 45%;
  }
}

@media (max-width: 751px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 98%;
  }

  .serving-card#card1-tier {
    min-width: 46%;
  }

  .serving-card#card1-tier #img-container1-tier {
    padding: 1.2rem;
  }
}

@media (max-width: 725px) {
  .serving-card#card4-tier {
    min-width: 98%;
  }
}

@media (max-width: 725px) and (max-height: 770px) {
  .serving-card#card4-tier {
    min-width: 90%;
  }
}

@media (max-width: 725px) and (max-height: 530px) {
  .serving-cards-container {
    min-width: 72%;
  }
}

@media (max-width: 725px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 96%;
  }
}

@media (max-width: 712px) and (max-height: 500px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 95%;
  }
  #img1-tier,
  #img2-tier,
  #img5-tier {
    max-height: 14rem;
  }

  #img3-tier {
    min-height: 13rem;
  }

  #img4-tier {
    min-height: 13rem;
    max-width: none;
  }
}

@media (max-width: 710px) and (max-height: 770px) {
  .servings-content.two-tier,
  .servings-content.four-tier {
    flex-direction: column;
  }

  .serving-card#card4-tier {
    min-width: 45%;
  }
}

@media (max-width: 710px) and (max-height: 530px) {
  .serving-card#card4-tier {
    min-width: 92%;
  }
}

@media (max-width: 710px) and (max-height: 500px) {
  .serving-card#card4-tier {
    min-width: 96%;
  }
}

@media (max-width: 694px) and (max-height: 770px) {
  .servings-content.three-tier {
    flex-direction: column;
  }
}

@media (max-width: 690px) and (max-height: 620px) {
  .servings-content {
    max-height: 88%;
  }
  .serving-card {
    min-height: max-content;
  }
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 12rem;
  }
}

@media (max-width: 690px) and (max-height: 500px) {
  .servings-content {
    max-height: 100%;
  }
}

@media (max-width: 670px) and (max-height: 770px) {
  .serving-cards-container {
    min-width: 98%;
  }
  .servings-content {
    flex-direction: column;
  }
}

@media (max-width: 670px) and (max-height: 620px) {
  .servings-content {
    max-height: 100%;
  }
}

@media (max-width: 670px) and (max-height: 530px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier {
    min-width: 44.5%;
  }

  .serving-cards-container.four-tier {
    justify-content: unset;
  }
}

@media (max-width: 657px) and (max-height: 770px) {
  .serving-card#card4-tier {
    min-width: 90%;
  }
}

@media (max-width: 657px) and (max-height: 500px) {
  .serving-cards-container {
    min-width: 98%;
  }

  .serving-card#card4-tier {
    min-width: 96%;
  }
}

@media (max-width: 655px) {
  .serving-card#card3-tier {
    min-width: 95%;
  }
}

@media (max-width: 650px) {
  .diameter-txt {
    font-size: 2rem;
  }

  .serving-txt {
    font-size: 2.9rem;
  }
}

@media (max-width: 650px) and (max-height: 770px) {
  .serving-txt {
    font-size: 2.6rem;
  }
}
@media (max-width: 650px) and (max-height: 500px) {
  .diameter-txt {
    font-size: 1.8rem;
  }

  .serving-txt {
    font-size: 2.3rem;
  }
}

@media (max-width: 650px) and (max-height: 480px) {
  #img1-tier,
  #img2-tier,
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }

  .serving-card#card3-tier,
  .serving-card#card4-tier {
    padding-bottom: 0;
  }
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 95%;
    min-height: max-content;
  }
}

@media (max-width: 644px) {
  .serving-card#card1-tier {
    min-width: 44%;
  }
}

@media (max-width: 640px) {
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 100%;
    padding-right: 2.4rem;
  }
}

@media (max-width: 640px) and (max-height: 530px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 44%;
    padding-right: 0;
  }
}

@media (max-width: 640px) and (max-height: 500px) {
  .serving-card#card1-tier {
    min-width: 95%;
  }
}

@media (max-width: 631px) {
  .serving-card {
    min-height: max-content;
  }

  #img2-tier,
  #img3-tier {
    max-height: 20rem;
  }
  #img4-tier,
  #img5-tier {
    max-height: 25rem;
  }

  .serving-card#card3-tier,
  .serving-card#card4-tier {
    padding-bottom: 0rem;
  }

  #img-container5-tier {
    height: max-content;
  }
}

@media (max-width: 631px) and (max-height: 820px) {
  #img5-tier {
    max-height: 20rem;
  }
}

@media (max-width: 631px) and (max-height: 760px) {
  #img5-tier {
    max-height: 18rem;
  }
}

@media (max-width: 631px) and (max-height: 650px) {
  #img2-tier,
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }
}

@media (max-width: 631px) and (max-height: 620px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier {
    min-width: 50%;
    max-width: 60%;
  }
  .serving-card#card4-tier {
    min-width: 25%;
    max-width: 49%;
  }
  .serving-card#card5-tier {
    min-width: 30%;
    max-width: 50%;
  }
  .serving-txt {
    font-size: 2.6rem;
  }
}

@media (max-width: 631px) and (max-height: 530px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    padding-right: 2.4rem;
  }

  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 100%;
  }
}

@media (max-width: 631px) and (max-height: 500px) {
  #img1-tier {
    max-height: 10rem;
  }

  #img2-tier {
    max-height: 12rem;
  }

  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 13rem;
  }
  .servings-content {
    padding-top: 9.4rem;
  }
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card4-tier,
  .serving-card#card3-tier,
  .serving-card#card5-tier {
    min-width: 100%;
  }

  .serving-card .img-container#img-container3-tier,
  .serving-card .img-container#img-container4-tier,
  .serving-card .img-container#img-container5-tier {
    min-width: 45%;
  }
  .serving-card .img-container#img-container1-tier,
  .serving-card .img-container#img-container2-tier {
    min-width: 30%;
  }
  .serving-card#card3-tier .txt-container,
  .serving-card#card4-tier .txt-container,
  .serving-card#card5-tier .txt-container {
    min-width: 55%;
  }
  .serving-card#card1-tier .txt-container,
  .serving-card#card2-tier .txt-container {
    max-width: 70%;
  }
}

@media (max-width: 631px) and (max-height: 480px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    min-width: 95%;
  }
}

@media (max-width: 613px) and (max-height: 620px) {
  .serving-card#card3-tier {
    min-width: 90%;
  }
}

@media (max-width: 613px) and (max-height: 530px) {
  .serving-card#card3-tier {
    min-width: 98%;
  }
}

@media (max-width: 600px) and (max-height: 530px) {
  .serving-card#card2-tier {
    min-width: 98%;
  }
}

@media (max-width: 590px) and (max-height: 770px) {
  .serving-card#card1-tier {
    min-width: 100%;
  }
}

@media (max-width: 590px) and (max-height: 650px) {
  .serving-card#card1-tier {
    min-width: 95%;
  }
}

@media (max-width: 566px) and (max-height: 1150px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier {
    min-width: 100%;
  }
}

@media (max-width: 566px) and (max-height: 650px) {
  .serving-card#card1-tier {
    min-width: 95%;
  }
}

@media (max-width: 480px) {
  .serving-card#card1-tier {
    min-width: 96%;
  }
  #img1-tier {
    max-height: 10rem;
  }

  .serving-img {
    margin: 1.2rem 0;
  }
}

@media (max-width: 475px) and (max-height: 500px) {
  .serving-cards-container {
    row-gap: 1.2rem;
  }
  #img1-tier,
  #img2-tier {
    max-height: 9rem;
  }

  #img3-tier,
  #img4-tier {
    max-height: 13rem;
  }

  #img2-tier {
    min-width: 10.9rem;
  }

  .serving-card .img-container#img-container3-tier {
    min-width: 50%;
  }
  .serving-card .img-container#img-container4-tier,
  .serving-card .img-container#img-container5-tier {
    min-width: 40%;
  }
  .serving-card#card3-tier .txt-container {
    max-width: 50%;
  }

  .serving-card#card4-tier .txt-container,
  .serving-card#card5-tier .txt-container {
    max-width: 60%;
  }
  .serving-card#card3-tier {
    min-width: 98%;
  }
}

@media (max-width: 400px) and (max-height: 900px) {
  #img5-tier {
    height: 25rem;
  }
}

@media (max-width: 400px) and (max-height: 790px) {
  #img1-tier,
  #img2-tier,
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 20rem;
  }
}

@media (max-width: 400px) and (max-height: 650px) {
  #img1-tier,
  #img2-tier,
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 15rem;
  }
}

@media (max-width: 400px) and (max-height: 530px) {
  .diameter-txt {
    font-size: 2rem;
  }
  .serving-txt {
    font-size: 2.4rem;
  }

  #img1-tier,
  #img2-tier,
  #img3-tier,
  #img4-tier,
  #img5-tier {
    max-height: 13rem;
  }
}

@media (max-width: 400px) and (max-height: 500px) {
  .serving-card#card1-tier,
  .serving-card#card2-tier,
  .serving-card#card3-tier,
  .serving-card#card4-tier,
  .serving-card#card5-tier {
    margin-right: 0;
  }

  #img1-tier,
  #img3-tier {
    max-height: 10rem;
  }

  #img2-tier {
    max-width: 11rem;
  }

  .serving-card .img-container#img-container3-tier,
  .serving-card .img-container#img-container4-tier,
  .serving-card .img-container#img-container5-tier {
    min-width: 40%;
  }
  .serving-card#card3-tier .txt-container,
  .serving-card#card4-tier .txt-container,
  .serving-card#card5-tier .txt-container {
    max-width: 60%;
  }

  #img4-tier {
    max-width: 10rem;
    height: auto;
  }
}

@media (max-width: 383px) and (max-height: 500px) {
  .diameter-txt {
    font-size: 1.6rem;
  }
  .serving-txt {
    font-size: 2rem;
  }
  .txt-container {
    padding: 1.6rem;
  }

  #img1-tier {
    max-height: 7rem;
  }

  .serving-card .img-container#img-container2-tier {
    min-height: 12.75rem;
  }
  #img2-tier {
    max-width: 9.2rem;
    min-width: 8rem;
  }

  .serving-card .img-container#img-container3-tier {
    min-width: 11.4rem;
    min-height: 11.9rem;
  }
  #img3-tier {
    max-height: 9rem;
    min-height: 3rem;
  }
  .serving-card .img-container#img-container4-tier,
  .serving-card .img-container#img-container5-tier {
    min-width: 40%;
  }
  .serving-card#card4-tier .txt-container,
  .serving-card#card5-tier .txt-container {
    max-width: 60%;
  }

  #img4-tier {
    max-height: 7rem;
    min-height: 5rem;
  }
}

@media (max-width: 360px) and (max-height: 500px) {
  .serving-cards-container {
    row-gap: 1.2rem;
  }
}

@media (max-height: 585px) {
  .serving-img {
    margin: 1.2rem 0;
  }
}

@media (max-height: 560px) {
  .serving-img {
    margin: 1.2rem 0;
  }
}
