.servings-content {
  display: flex;
  position: relative;
  max-width: 192rem;
  width: 100%;
  align-self: center;
  flex-direction: row;
  margin-bottom: 4.8rem;
}

.servings-content nav {
  width: 12%;
}

.serving-cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  width: 75%;
  padding-top: 4.8rem;
}

.lg-min-height {
  min-height: 57dvh;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.4rem;
  margin-bottom: 9.6rem;
  height: 100%;
}

.category-container.one-tier,
.category-container.two-tier,
.category-container.three-tier,
.category-container.four-tier,
.category-container.five-tier {
  scroll-margin-top: 10rem;
  /* height: 73.7rem; */
}

.category-container:last-of-type {
  margin-bottom: 0;
}

.serving-card {
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem 0 0;
  width: 31.55%;
}

.category-container.four-tier .serving-card,
.category-container.five-tier .serving-card {
  width: 48%;
}

.img-container {
  background-color: rgba(254, 229, 238, 0.35);
  border-radius: 3rem 3rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serving-img {
  margin: 2.4rem 0;
  height: 18rem;
}

.txt-container {
  border-top: 0.8rem solid #526166;
  background-color: rgba(171, 238, 255, 0.35);
  border-radius: 0 0 3rem 3rem;
  padding: 2.4rem;
}

.diameter-txt {
  color: #526166;
  font-size: 2.3rem;
  padding-bottom: 0.9rem;
  text-transform: uppercase;
}

.serving-txt {
  font-size: 2.9rem;
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  color: #2d5059;
}

.secondary-sub-head {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
