.ty-container {
  width: 100%;
  display: flex;
  height: 61.9dvh;
  background-color: #12d0ff;
  justify-content: center;
  align-items: center;
}
.ty-heading {
  display: flex;
  width: 100%;
  position: relative;
}

.ty-bg {
  width: max-content;
  text-align: center;
}

.ty-bg h1,
.ty-bg .outlined,
.ty-bg .top-outlined {
  font-size: 10.5rem;
  text-transform: capitalize;
  font-family: "fjalla one", sans-serif;
  position: relative;
  display: block;
  transform: translateY(6.05rem);
  text-transform: uppercase;
}

.ty-bg .outlined {
  -webkit-text-stroke: 0.2rem yellow;
  color: #12d0ff;
  transform: translate(0.7rem, -6.05rem);
}

.ty-bg h1 {
  z-index: 10000;
  color: rgb(229, 198, 227);
}

.ty-bg p {
  font-size: 2.6rem;
  line-height: 1.25;
  transform: translate(1.75rem, -6rem);
}

.ty-bg .ty-reminder {
  /* font-weight: 350; */
  font-size: 2.3rem;
}
