/* .container {
  padding: 2.4rem;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  position: relative;
} */

.about-container {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.about-scroll-container {
  display: flex;
  padding-top: 4.8rem;
  justify-content: center;
  position: relative;
  margin: 0 4.8rem;
  flex-direction: column;
}
.about-content,
.story-row {
  align-self: center;
  display: flex;
  max-width: 192rem;
  width: 100%;
  position: relative;
  margin-bottom: 9.6rem;
}
.about-content {
  align-items: center;
}

.about-content .txt-panel {
  max-width: 35%;
  width: 100%;
  margin-right: 4.8rem;
}

.founders-img {
  width: 65%;
}

.story-row {
  row-gap: 9.6rem;
  flex-wrap: wrap;
  max-height: max-content;
  height: 100%;
}
.os-container {
  width: 100dvw;
  display: flex;
  align-items: center;
}

.first-row,
.second-row,
.third-row {
  height: 100%;
  max-height: max-content;
}

.second-row {
  display: flex;
  padding-bottom: 0;
  padding-bottom: 2.4rem;
  column-gap: 9.6rem;
  flex-direction: row-reverse;
}

.third-row {
  align-items: unset;
  justify-content: space-between;
}
.first-row img {
  max-width: 63%;
}
.second-row img {
  max-width: 40dvw;
  border-radius: 100px;
}

.third-row img {
  max-width: 30%;
  height: 100%;
}

.coFounder {
  align-self: flex-end;
  /* margin-top: 85rem; */
}

.tg-row-1 {
  max-width: 50%;
  margin: 0 4.8rem;
}
.tg-row-1 h3 {
  width: 90%;
}

.tg-row-2 {
  width: 40%;
}

.tg-row-3 {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  max-height: max-content;
  padding: 0 4.8rem;
}

.tg-row-3 div:nth-of-type(1) {
  margin-bottom: 16.8rem;
  margin-top: 6rem;
}

.tg-row-3 div:nth-of-type(2) {
  justify-items: flex-end;
  margin-bottom: 4.8rem;
}
.tg-row-2 p {
  max-width: 100%;
}

.tg-row-3 p {
  width: 100%;
}

.tg-row-3 div:nth-of-type(2) p {
  justify-items: flex-end;
  text-align: justify;
}

.os-container h3 {
  font-family:
    fjalla one,
    sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}
.tg-row-3 h3 {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-size: 2.6rem;
  margin-bottom: 0.6rem;
}

.tg-row-3 h3 span {
  font-weight: 600;
}

.tg-row-3 h4 {
  font-family:
    fjalla one,
    san-serif;
  text-transform: uppercase;
  font-size: 2.9rem;
  margin-bottom: 2.4rem;
}

.os-container p {
  font-size: 2.3rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
}

.italic {
  font-style: italic;
  font-weight: 400;
}

.os-img-group {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
  max-height: 78rem;
}

.os-img-group div {
  display: flex;
  width: 100%;
}

.os-img-group div:nth-of-type(1) {
  justify-content: flex-end;
}
.os-img-group div:nth-of-type(2) {
  transform: translate(0rem, -20rem);
  align-items: flex-end;
}

.os-img-group span {
  display: flex;
}

.os-img-group div p {
  font-family: "Fredoka", sans-serif;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 400;
}

.tres-label {
  transform: translate(14rem, 3rem) rotate(-30deg);
}

.store-label {
  transform: translate(-3rem, -5rem) rotate(10deg);
}

.os-img-group img {
  width: 60%;
}

.arr-1,
.arr-2 {
  width: 6rem;
}
.arr-1 {
  transform: translate(-2rem, -16rem) scaleY(-1);
  align-self: center;
}

.arr-2 {
  transform: translate(1.5rem, -4rem) scale(-1);
}

@media (max-width: 2490px) {
  .arr-1 {
    transform: translate(-2rem, -16rem) scaleY(-1);
  }
}

@media (max-width: 2350px) {
  .tg-row-3 {
    max-width: 47%;
  }
}

@media (max-width: 2016px) {
  .os-container p {
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
  }
}

@media (max-width: 2000px) {
  .arr-1 {
    transform: translate(-2rem, -14.5rem) scaleY(-1);
  }
}

@media (max-width: 1900px) {
  .os-img-group {
    max-height: 72rem;
  }
  .arr-1 {
    transform: translate(-2rem, -13.5rem) scaleY(-1);
  }
}

@media (max-width: 1800px) {
  .os-img-group {
    max-height: 67rem;
  }
  .arr-1 {
    transform: translate(-2rem, -12.5rem) scaleY(-1);
  }
}

@media (max-width: 1720px) {
  .os-img-group {
    max-height: 67rem;
  }
  .arr-1 {
    transform: translate(-2rem, -11rem) scaleY(-1);
  }
}

@media (max-width: 1700px) {
  .second-row {
    column-gap: 7.2rem;
  }
  .os-img-group {
    max-height: 62rem;
  }
}

@media (max-width: 1680px) {
  .first-row {
    justify-content: unset;
  }
  .tg-row-1 {
    max-width: 45dvw;
    padding: 0 0 0 6rem;
  }

  .awards {
    flex-direction: row;
  }

  .arr-1 {
    transform: translate(-2rem, -10rem) scaleY(-1);
  }
}

@media (max-width: 1650px) {
  .third-row {
    flex-direction: column;
  }
  .tg-row-3 {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
  }

  .tg-row-3 div:nth-of-type(1) {
    margin-right: 12rem;
  }

  .tg-row-3 div:nth-of-type(1),
  .tg-row-3 div:nth-of-type(2) {
    width: 50%;
    margin-top: 4.8rem;
    justify-items: center;
  }
  .res-img-row {
    display: flex;
    justify-content: space-between;
  }
  .res-img-row img {
    max-width: 30%;
    height: auto;
  }

  .res-img-row img:nth-of-type(1) {
    margin-left: 9.6rem;
  }

  .res-img-row img:nth-of-type(2) {
    margin-right: 9.6rem;
  }
}

@media (max-width: 1600px) {
  .arr-1 {
    transform: translate(-2rem, -9rem) scaleY(-1);
  }
}
@media (max-width: 1500px) {
  .tres-label {
    transform: translate(11rem, 4rem) rotate(-30deg);
  }

  .arr-1,
  .arr-2 {
    width: 5rem;
  }

  .arr-1 {
    transform: translate(-2rem, -8rem) scaleY(-1);
  }
}

@media (max-width: 1400px) {
  .about-content .txt-panel {
    max-width: 40%;
  }

  .founders-img {
    width: 60%;
  }
  .tg-row-1 {
    max-width: 50dvw;
  }
  .tg-row-2 p {
    margin: 0 2.4rem 0 0;
  }
  .second-row img {
    border-radius: 60px;
  }
  .os-img-group div p {
    font-size: 2rem;
  }
  .arr-1 {
    transform: translate(-2rem, -7rem) scaleY(-1);
  }
}

@media (max-width: 1300px) {
  .second-row {
    flex-direction: column-reverse;
  }
  .about-content {
    align-items: center;
  }
  .os-img-group {
    max-width: 100%;
  }

  .second-row img {
    max-width: 55%;
  }

  .os-img-group div:nth-of-type(2) {
    transform: translate(0rem, -30rem);
  }

  .tg-row-2 {
    width: 100%;
    text-align: center;
    padding: 4.8rem;
  }

  .tres-label {
    transform: translate(12rem, 7rem) rotate(-30deg);
  }

  .arr-1 {
    transform: translate(-3rem, -10rem) scaleY(-1);
  }

  .res-img-row img:nth-of-type(1) {
    margin-left: 7.2rem;
  }

  .res-img-row img:nth-of-type(2) {
    margin-right: 7.2rem;
  }
}

@media (max-width: 1250px) {
  .tres-label {
    transform: translate(12rem, 3rem) rotate(-30deg);
  }

  .arr-1 {
    transform: translate(-3rem, -13rem) scaleY(-1);
  }
}

@media (max-width: 1200px) {
  .about-content {
    flex-direction: column-reverse;
  }

  .about-content .txt-panel {
    max-width: 75%;
    margin-top: 4.8rem;
  }

  .founders-img {
    width: 100%;
  }

  .tres-label {
    transform: translate(11rem, 3rem) rotate(-30deg);
  }

  .os-img-group div:nth-of-type(2) {
    transform: translate(0rem, -25rem);
  }
}

@media (max-width: 1100px) {
  .arr-1 {
    transform: translate(-3rem, -11rem) scaleY(-1);
  }
  .os-img-group div:nth-of-type(2) {
    transform: translate(0rem, -20rem);
  }
  .third-row {
    transform: translateY(0rem);
  }

  .third-row img {
    height: unset;
    max-width: 65%;
  }
  .tg-row-3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tg-row-3 div:nth-of-type(1),
  .tg-row-3 div:nth-of-type(2) {
    margin: 4.8rem 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tg-row-3 div:nth-of-type(1) img,
  .tg-row-3 div:nth-of-type(2) img {
    margin-bottom: 4.8rem;
  }

  .coFounder {
    align-self: unset;
    padding-top: 100rem;
  }
}

@media (max-width: 1090px) {
  .about-content .txt-panel {
    max-width: 90%;
    margin-top: 4.8rem;
  }
}

@media (max-width: 1050px) {
  .tres-label {
    transform: translate(11rem, 2rem) rotate(-30deg);
  }

  .arr-1 {
    transform: translate(-3rem, -10rem) scaleY(-1);
  }
}

@media (max-width: 1000px) {
  .first-row {
    flex-direction: column;
  }
  .about-content,
  .story-row {
    margin-bottom: 4.8rem;
  }

  .tg-row-1 {
    max-width: 100dvw;
    padding: 0;
  }
  .first-row img {
    max-width: 70dvw;
    margin-bottom: 7.2rem;
  }
  .founder-container {
    max-width: 100dvw;
    margin: 0 2.4rem;
  }
  .tg-row-2 p {
    max-width: 90%;
  }
  .os-img-group {
    justify-content: unset;
    transform: unset;
    margin-top: 4.8rem;
  }

  .os-img-group img {
    max-width: 55%;
  }

  .tg-row-3 div:nth-of-type(1),
  .tg-row-3 div:nth-of-type(2) {
    width: 90%;
  }

  .founders-img {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .tres-label {
    transform: translate(9rem, 2rem) rotate(-30deg);
  }
}

@media (max-width: 900px) {
  .tres-label {
    transform: translate(8rem, 1rem) rotate(-30deg);
  }
  .os-img-group div:nth-of-type(2) {
    transform: translate(0rem, -10rem);
  }
}

@media (max-width: 840px) {
  .tres-label {
    transform: translate(7.5rem, 0rem) rotate(-30deg);
  }
}

@media (max-width: 800px) {
  .tg-row-2 p {
    max-width: 100%;
  }

  .tg-row-3 div:nth-of-type(1),
  .tg-row-3 div:nth-of-type(2) {
    width: 100%;
  }

  .first-row img {
    max-width: 85dvw;
  }
}

@media (max-width: 770px) {
  .about-content .txt-panel {
    margin-bottom: 4.8rem;
  }
  .os-img-group div:nth-of-type(1) {
    display: none;
  }

  .os-img-group div:nth-of-type(2) span {
    display: none;
  }
  .os-img-group div:nth-of-type(2) p {
    display: none;
  }

  .os-img-group img {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .os-img-group div:nth-of-type(1) {
    display: none;
  }

  .os-img-group div:nth-of-type(2) span,
  .os-img-group div:nth-of-type(2) p {
    display: none;
  }

  .os-img-group div:nth-of-type(2) {
    transform: translate(0rem, 0rem);
  }

  .os-img-group img {
    max-width: 100%;
    flex-grow: 1;
    margin-bottom: 4.8rem;
  }
  .tg-row-2 p {
    margin: 0 0 0 0;
  }
}

@media (max-width: 500px) {
  .third-row img {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .about-scroll-container p {
    font-size: 1.8rem;
  }
}
