.about-container {
  max-height: max-content;
  flex-direction: column;
}
.about-scroll-container {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  margin-top: 18.1rem;
  padding: 0 2.4rem 2.4rem 2.4rem;
  row-gap: 4.8rem;
}
.about-content {
  display: flex;
  position: relative;
  min-width: 100%;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  height: max-content;
}

.about-img-container {
  display: flex;
  flex-direction: row;
  width: 75dvw;
  flex-wrap: wrap;
  column-gap: 2.4rem;
  height: max-content;
  justify-content: space-between;
}
.founder-container {
  max-width: 50dvw;
}

.founders-img {
  max-width: 100%;
}

.awards {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.awards img {
  max-width: 12dvw;
}

.award-1,
.award-2 {
  margin: 0 0 2.4rem 0;
}

.award-2 {
  border: 0.2rem solid black;
  margin-top: 2.4rem;
}

.story-row {
  display: flex;
  column-gap: 4.8rem;
  max-width: 100%;
  flex-wrap: wrap;
}
.os-container {
  width: 100dvw;
  /* padding: 4.8rem 0; */
  display: flex;
  align-items: center;
}
.first-row {
  justify-content: space-evenly;
}

.second-row {
  display: flex;
  flex-direction: row;
  align-items: unset;
  padding-bottom: 0;
  height: 70dvh;
}
.os-container img {
  max-width: 40dvw;
}

.tg-row-1 {
  max-width: 32dvw;
}

.tg-row-2 {
  max-width: 35dvw;
  justify-items: center;
  align-content: center;
  margin: 0;
  /* height: max-content; */
}

.tg-row-2 p {
  max-width: 100%;
  margin: 0 7.2rem;
}
.os-container h3 {
  font-family: fjalla one, sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.os-container p {
  font-size: 2.3rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
}

.italic {
  font-style: italic;
  font-weight: 400;
}

.os-img-group {
  display: flex;
  width: 100dvw;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.os-img-group div {
  display: flex;
}

.os-img-group span {
  display: flex;
  align-items: center;
}

.os-img-group div p {
  font-family: "Fredoka", sans-serif;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 400;
}
.tres-label {
  transform: translate(4rem, 24rem) rotate(-20deg);
}
.store-label {
  align-self: center;
  transform: translate(-14rem, -15rem) rotate(-10deg);
  width: 100%;
}

.os-img-group img {
  max-width: 26dvw;
  margin: 0 26rem;
}

.arr-1,
.arr-2 {
  width: 6rem;
}
.arr-1 {
  transform: translate(-12rem, 8rem) scaleY(-1) rotate(-60deg);
}
.arr-2 {
  transform: translate(-5rem, -21rem) scaleY(-1) rotate(120deg);
}

.store-img {
  transform: translate(-20rem, -10rem);
  /* transform: translateX(-20rem); */
}
@media (max-width: 2370px) {
  .os-container h3 {
    font-size: 2.9rem;
  }
  .os-container p {
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
  }
}

@media (max-width: 1680px) {
  .first-row {
    justify-content: unset;
  }
  .tg-row-1 {
    max-width: 45dvw;
    padding: 0 0 0 6rem;
  }

  .os-container img {
    max-width: 40dvw;
  }
}
