.signature-content {
  display: flex;
  position: relative;
  max-width: 192rem;
  width: calc(100% - 9.6rem);
  align-self: center;
  margin: 4.8rem 4.8rem 9.6rem 4.8rem;
}

.signature-cakes-container {
  width: 78%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .signature-cakes-container::-webkit-scrollbar {
  width: 0.8rem;
}
.signature-cakes-container::-webkit-scrollbar-track {
  background: white;
}
.signature-cakes-container::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
} */

.cake-detail-card {
  display: flex;
  max-width: 31.6%;
  width: 100%;
  margin: 0 3.6rem 0rem 0;
  flex-direction: column;
}

.cake-detail-card:nth-child(3n) {
  margin-right: 0rem;
}

.cake-detail-card img {
  border-radius: 2.4rem 2.4rem 0 0;
}

.cake-info-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 0.8rem solid #526166;
  background-color: rgba(171, 238, 255, 0.35);
  border-radius: 0 0 3rem 3rem;
  padding: 0 2.4rem;
}
.add-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.cake-info-box .add-info h4 {
  font-size: 2.3rem;
  font-family: "fjalla one", sans-serif;
}
.cake-info-box .add-info p {
  font-size: 2rem;
  padding: 0;
  width: max-content;
}

.cake-info-box h3 {
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  margin-top: 3.6rem;
  font-size: 2.3rem;
  color: #526166;
}

.cake-info-box p {
  font-size: 2.1rem;
  font-family: raleway;
  padding: 1.2rem 0 3.6rem 0;
  color: #526166;
  /* width: 90%; */
  line-height: 1.5;
}

@media (max-width: 1940px) {
  .cake-detail-card {
    max-width: 31.5%;
  }
}

@media (max-width: 1910px) {
  .cake-info-box p {
    font-size: 2rem;
  }
}

@media (max-width: 1840px) {
  .cake-detail-card {
    max-width: 31.3%;
  }
}

@media (max-width: 1830px) {
  .cake-info-box p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1668px) {
  .cake-detail-card {
    max-width: 31.2%;
  }
}

@media (max-width: 1660px) {
  .signature-content {
    flex-direction: column;
  }

  .signature-cakes-container {
    width: 100%;
  }
  .cake-detail-card {
    max-width: 31.7%;
  }
  .cake-info-box p {
    font-size: 2rem;
  }
}

@media (max-width: 1570px) {
  .cake-detail-card {
    max-width: 31.3%;
  }
}

@media (max-width: 1390px) {
  .cake-detail-card {
    max-width: 32%;
  }
  .cake-detail-card {
    margin: 0 2.4rem 0rem 0;
  }
}

@media (max-width: 1360px) {
  .cake-info-box p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1300px) {
  .cake-detail-card {
    max-width: 31.5%;
  }
}

@media (max-width: 1260px) {
  .cake-info-box p {
    font-size: 2.3rem;
  }
  .cake-detail-card {
    max-width: 48.7%;
  }

  .cake-detail-card:nth-child(2n) {
    margin-right: 0;
  }

  .cake-detail-card:nth-child(3n) {
    margin-right: 2.4rem;
  }
}

@media (max-width: 1060px) {
  .cake-info-box p {
    font-size: 2rem;
  }
}

@media (max-width: 1018px) {
  .cake-detail-card {
    max-width: 48.5%;
  }
}

/* @media (max-width: 990px) {
  .cake-detail-card {
    max-width: 47%;
  }
} */

@media (max-width: 960px) {
  .cake-info-box p {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .cake-detail-card {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 890px) {
  .signature-content {
    margin: 0 2.4rem 2.4rem 2.4rem;
    width: calc(100% - 4.8rem);
  }
}
