.signature-content {
  display: flex;
  position: relative;
  max-width: 192rem;
  width: 100%;
  align-self: center;
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}

.signature-cakes-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .signature-cakes-container::-webkit-scrollbar {
  width: 0.8rem;
}
.signature-cakes-container::-webkit-scrollbar-track {
  background: white;
}
.signature-cakes-container::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
} */

.cake-detail-card {
  display: flex;
  width: 31.6%;
  margin: 0 3.6rem 2.4rem 0;
  flex-direction: column;
}

.cake-detail-card:nth-child(3n) {
  margin-right: 0rem;
}

.cake-detail-card img {
  border-radius: 2.4rem 2.4rem 0 0;
}

.cake-info-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 0.8rem solid #526166;
  background-color: rgba(171, 238, 255, 0.35);
  border-radius: 0 0 3rem 3rem;
  padding: 0 2.4rem;
}
.add-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.cake-info-box .add-info h4 {
  font-size: 2.3rem;
  font-family: "fjalla one", sans-serif;
}
.cake-info-box .add-info p {
  font-size: 2rem;
  padding: 0;
  width: max-content;
}

.cake-info-box h3 {
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  margin-top: 3.6rem;
  font-size: 2.3rem;
  color: #526166;
}

.cake-info-box p {
  font-size: 2.1rem;
  font-family: raleway;
  padding: 1.2rem 0 3.6rem 0;
  color: #526166;
  /* width: 90%; */
  line-height: 1.5;
}
