.container {
  padding: 2.4rem;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  position: relative;
}
.home-container {
  flex-direction: column;
  padding: 2.4rem 0 2.4rem 2.4rem;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.two-col-container {
  margin-top: 2.4rem;
  display: flex;
  position: relative;
}

.hor-card {
  width: 192rem;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 9.6rem;
}

@media (max-width: 1323px) {
  .container {
    padding: 2.4rem 0;
  }
}
@media (max-width: 1051px) {
  .container {
    padding: 0;
  }
}

@media (max-height: 860px) {
  .container {
    padding: 0;
  }
}

@media (max-height: 560px) {
  .container {
    padding: 0;
    padding-bottom: 1.2rem;
  }
}

@media (max-width: 2400px) and (max-height: 560px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 1511px) and (max-height: 1002px) {
  .container {
    padding: 0;
  }
}
