.container {
  padding: 2.4rem;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  position: relative;
}
.home-container {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.two-col-container {
  margin-top: 2.4rem;
  display: flex;
  position: relative;
}

.hor-card {
  width: 192rem;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 9.6rem;
}
