.form-container {
  display: flex;
  margin: 18.1rem 2.4rem 10.4rem 2.4rem;
  position: relative;
  width: 100%;
}

.form-container.quote {
  justify-content: space-between;
}

.form-container.con {
  column-gap: 20rem;
}

.form-container::-webkit-scrollbar {
  width: 0.8rem;
}
.form-container::-webkit-scrollbar-track {
  background: white;
}
.form-container::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
}

.form-box {
  display: flex;
  flex-direction: column;
  /* width: 55%; */
}

.form-input {
  border: none;
  border-bottom: 0.4rem solid #2d5059;
  font-size: 4.1rem;
  font-family: raleway;
  padding: 2.4rem 3.6rem 2.4rem 3.6rem;
}

.form-input--date {
  width: 90%;
}

.form-input--servings {
  width: 100%;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(45, 80, 89, 0.1);
}

.form-label {
  font-size: 2.9rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-7.7rem);
}

.form-button {
  display: none;
  visibility: hidden;
  padding: 2.4rem 3.6rem;
}

.form-button-box {
  margin-top: 3.6rem;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.upload-group {
  display: flex;
  width: 100%;
}

.file-field {
  width: 65%;
  border-bottom: 0.4rem solid #2d5059;
  margin-right: 6rem;
}

.form-button-upload {
  font-size: 2.4rem;
  padding: 0 2.4rem;
  border: 0.4rem solid#2d5059;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.form-button-upload.max-btn {
  border: 0.4rem solid#a6acae;
  color: #a6acae;
  cursor: default;
}

.file-uploads-box {
  display: flex;
  column-gap: 7.2rem;
  margin-top: 2.4rem;
  margin-left: 3.6rem;
}

.file-name {
  font-size: 1.8rem;
}
.file-error {
  color: #ff0033;
  display: flex;
  flex-direction: row;
}

.form-img-box {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100%;
  background-image: url(../../img/form/phone.jpg);
}
.event-details {
  display: flex;
  width: 100%;
}
.event-box {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.servings-details {
  display: flex;
  flex-direction: column;
}

.add-padding {
  margin-top: 2px;
}

.form-box-rt {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-box-rt.sig-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.form-btn {
  display: none;
  visibility: hidden;
}

.form-submit-label {
  font-size: 4.1rem;
  background-color: #12d0ff;
  padding: 24px 0;
  height: 104px;
  margin-top: 24px;
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  color: #2d5059;
  text-align: center;
  z-index: 100;
  cursor: pointer;
}

.form-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 60%;
  overflow-y: scroll;
  padding-right: 1.2rem;
  overflow-x: hidden;
}

.form-panel::-webkit-scrollbar {
  width: 0.8rem;
}
.form-panel::-webkit-scrollbar-track {
  background: white;
}

/* .form-panel.sig-form-panel::-webkit-scrollbar-track {
  margin-top: 13rem;
} */
.form-panel::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 1rem;
}

.validation-box {
  margin-left: 3.6rem;
  height: 100%;
  display: flex;
}

.hide-txt-panel {
  opacity: 0;
  z-index: 0;
}

.error-head {
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  margin-top: 3.6rem;
  color: #ff0033;
  font-size: 3.6rem;
}

.msg {
  color: #ff0033;
  font-size: 2.9rem;
  /* margin-left: 1.2rem; */
  padding: 0 3.6rem;
  max-width: 48.9rem;
}
.phone-msg,
.email-msg {
  max-width: max-content;
}
.error-group {
  margin: 2.4rem 0;
}

.err-border {
  border-bottom: 0.4rem solid #ff0033;
}

.ty-heading {
  width: 100dvw;
  height: auto;
  z-index: 300;
  position: absolute;
  padding: 2.4rem;
}

.ty-msg {
  position: absolute;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.ty-bg {
  background-color: rgba(107, 107, 113, 0.7);
  padding: 4.8rem 9.6rem;
  margin-top: 47rem;
}

.ty-bg p {
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.6;
  font-weight: bold;
}

.ty-container header {
  z-index: 600 !important;
  padding: 4.8rem 2.4rem;
  height: 15.7rem;
}
.phone-img {
  display: none;
}

@media (max-width: 2560px) AND (max-height: 900px) {
  .form-input {
    font-size: 2.9rem;
  }

  .form-label {
    font-size: 2.3rem;
  }
  .msg {
    font-size: 2.3rem;
  }
}

@media (max-width: 2370px) AND (max-height: 500px) {
  .form-submit-label {
    font-size: 3.6rem;
    padding: 24px 0;
  }
}

@media (max-width: 2040px) {
  .container.contact-us {
    flex-direction: column;
    justify-content: space-between;
  }
  .form-container {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    justify-content: space-between;
    margin: 18.1rem 0 0 0;
    /* overflow-y: scroll; */
  }

  .form-panel {
    flex-direction: row;
  }
  .form-box-rt.sig-form,
  .form-box-rt {
    align-items: flex-end;
    width: 100%;
  }

  .form-img-box {
    display: none;
  }
  .form-submit-label {
    width: max-content;
    white-space: nowrap;
    padding: 2.4rem 3.6rem;
    margin-top: 0;
  }
  .phone-img {
    width: auto;
    height: 70%;
    display: block;
    position: absolute;
    top: 18rem;
    left: 2.4rem;
  }
  .sig-form-panel .phone-img {
    display: none;
  }
}

@media (max-width: 2040px) AND (max-height: 1250px) {
  .form-container {
    height: 70%;
  }

  .phone-img {
    height: 65%;
  }
  .form-input {
    font-size: 3.7rem;
    padding: 1.8rem 2.4rem 1.8rem 2.4rem;
  }

  .form-label {
    font-size: 2.5rem;
    padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  }
  .msg {
    font-size: 2.5rem;
    padding-left: 2.4rem;
  }
}

@media (max-width: 2040px) AND (max-height: 1110px) {
  .form-container {
    height: 65%;
  }
}

@media (max-width: 2040px) AND (max-height: 950px) {
  .form-container {
    height: 60%;
  }
  .form-panel {
    position: absolute;
    right: 0;
  }
  .phone-img {
    display: none;
  }
  .form-submit-label {
    font-size: 3.6rem;
    padding: 2.4rem 4.8rem;
    height: auto;
    width: max-content;
  }
}

@media (max-width: 2040px) AND (max-height: 810px) {
  .form-container {
    height: 55%;
  }
  .form-input {
    font-size: 2.9rem;
  }

  .form-label {
    font-size: 2rem;
  }
  .msg {
    font-size: 2rem;
  }
}

@media (max-width: 2040px) AND (max-height: 780px) {
  .form-submit-label {
    font-size: 2.9rem;
  }
}

/* @media (max-width: 2040px) AND (max-height: 770px) {
  .phone-img {
    top: 11rem;
  }
  .form-panel {
    width: 90%;
    max-width: unset;
  }
} */

@media (max-width: 2040px) AND (max-height: 710px) {
  .form-container {
    height: 50%;
  }
}

@media (max-width: 2040px) AND (max-height: 630px) {
  .form-container {
    height: 45%;
  }
}

@media (max-width: 2040px) AND (max-height: 575px) {
  .form-container {
    height: 40%;
  }
}

@media (max-width: 2040px) AND (max-height: 500px) {
  .form-submit-label {
    font-size: 2.3rem;
    padding: 1.6rem 2.8rem;
  }
}

@media (max-width: 1900px) {
  .phone-img {
    height: 65%;
  }
}

@media (max-width: 1800px) {
  .phone-img {
    height: 60%;
  }
}

@media (max-width: 1700px) {
  .phone-img {
    height: 55%;
  }

  .form-container {
    margin: 12rem 0;
  }
}

@media (max-width: 1650px) {
  .form-input {
    font-size: 2.9rem;
  }

  .form-label {
    font-size: 2rem;
  }
  .msg {
    font-size: 2rem;
  }
}

@media (max-width: 1600px) {
  .phone-img {
    display: none;
  }
}

@media (max-width: 1180px) {
  .form-img-box {
    display: none;
  }
  .form-container {
    flex-direction: column;
    margin: 18rem 2.4rem 0 2.4rem;
    padding: 0;
    padding-right: 2.4rem;
    width: 96%;
    height: 73%;
  }
  .form-panel {
    overflow-y: scroll;
    margin-top: 4.8rem;
    position: unset;
  }

  .form-input {
    font-size: 3.7rem;
    padding: 1.8rem 2.4rem 1.8rem 2.4rem;
  }
  .form-label {
    padding: 1.8rem 2.4rem 1.8rem 2.4rem;
  }

  .msg {
    font-size: 2.3rem;
    padding-left: 2.4rem;
  }
  .form-box-rt {
    width: 100%;
    align-items: flex-end;
    min-height: unset;
  }
  .form-submit-label {
    width: 50%;
  }
  .phone-img {
    display: none;
  }
}

@media (max-width: 1180px) AND (max-height: 1250px) {
  .form-container {
    height: 68%;
  }
}

@media (max-width: 1180px) AND (max-height: 1000px) {
  .form-input {
    font-size: 2.9rem;
  }

  .msg {
    font-size: 2rem;
  }

  .form-submit-label {
    font-size: 3.6rem;
    padding: 2.4rem 4.8rem;
    height: auto;
    width: max-content;
  }
}

@media (max-width: 1180px) AND (max-height: 980px) {
  .form-container {
    height: 63%;
  }
}

@media (max-width: 1180px) AND (max-height: 840px) {
  .form-container {
    height: 58%;
  }
}

@media (max-width: 1180px) AND (max-height: 760px) {
  .form-container {
    height: 53%;
  }

  .form-panel {
    margin-top: 0;
  }
}

@media (max-width: 1180px) AND (max-height: 680px) {
  .form-container {
    height: 48%;
  }
}

@media (max-width: 1180px) AND (max-height: 610px) {
  .form-container {
    height: 42%;
  }

  .form-submit-label {
    font-size: 2.9rem;
  }
}

@media (max-width: 1180px) AND (max-height: 550px) {
  .form-container {
    height: 37%;
  }
}

@media (max-width: 900px) {
  .form-input {
    font-size: 2.9rem;
  }

  .msg {
    font-size: 2rem;
  }
  .form-submit-label {
    font-size: 3.6rem;
    padding: 2.4rem 4.8rem;
    height: auto;
    width: max-content;
  }
}

@media (max-width: 900px) AND (max-height: 950px) {
  .form-panel {
    margin-top: 2.4rem;
  }

  .form-submit-label {
    font-size: 3.2rem;
  }
}

@media (max-width: 900px) AND (max-height: 620px) {
  .form-submit-label {
    font-size: 2.9rem;
  }
}

@media (max-width: 660px) {
  .form-container {
    height: 100%;
    width: 90%;
    padding: 0;
  }
  .form-panel {
    overflow-y: scroll;
    margin-top: 4.8rem;
    padding-right: 1.2rem;
  }

  .form-box {
    width: 100%;
  }
  .event-details {
    flex-direction: column;
  }

  .event-box {
    width: 100%;
  }

  .form-img-box {
    display: none;
  }

  .form-input {
    font-size: 1.8rem;
    padding: 1.2rem 1.8rem 1.2rem 1.8rem;
  }
  .form-input--date {
    width: 100%;
  }
  .form-label {
    font-size: 1.8rem;
    padding: 1.8rem;
  }

  .msg {
    font-size: 1.6rem;
    padding-left: 1.8rem;
  }
  .form-box-rt {
    width: 100%;
  }
  .form-submit-label {
    font-size: 2.9rem;
    padding: 2.4rem;
    height: auto;
  }
}

@media (max-width: 660px) AND (max-height: 1140px) {
  .form-container {
    margin-top: 16rem;
    padding-top: 0;
  }
}

@media (max-width: 660px) AND (max-height: 1080px) {
  .form-container {
    height: 70%;
  }
}

@media (max-width: 660px) AND (max-height: 900px) {
  .form-container {
    height: 65%;
  }
}

@media (max-width: 660px) AND (max-height: 790px) {
  .form-submit-label {
    font-size: 2.6rem;
    padding: 2.4rem 3.6rem;
    width: max-content;
  }
}
@media (max-width: 660px) AND (max-height: 780px) {
  .form-container {
    height: 60%;
  }
}

@media (max-width: 660px) AND (max-height: 680px) {
  .form-container {
    height: 55%;
  }
}

@media (max-width: 660px) AND (max-height: 580px) {
  .form-container {
    height: 48%;
  }
}

@media (max-width: 660px) AND (max-height: 480px) {
  .form-container {
    height: 40%;
  }
}

@media (max-width: 660px) AND (max-height: 600px) {
  .form-panel {
    margin-top: 0rem;
  }
}

@media (max-width: 520px) {
  .form-submit-label {
    font-size: 2.3rem;
    padding: 1.6rem 2.8rem;
  }
}

@media (max-width: 400px) {
  .form-submit-label {
    width: 100%;
  }
}

@media (max-height: 700px) {
  .form-container {
    margin-top: 12rem;
  }
}
