.form-container {
  display: flex;
  max-width: 192rem;
  width: 100%;
  align-self: center;
  margin: 4.8rem 0 9.6rem 0;
  column-gap: 12rem;
}

.form-lft-col {
  width: 50%;
}
.form-lft-col .txt-panel {
  margin-bottom: 4.8rem;
}

.form-lft-col .txt-panel h1 {
  margin-bottom: 1.2rem;
}

/* .form-lft-col .txt-panel p {
  width: 60%;
} */

.form-box {
  display: flex;
  flex-direction: column;
}

.form-input {
  border: none;
  border-bottom: 0.4rem solid #2d5059;
  font-size: 3.2rem;
  font-family: raleway;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  font-weight: 300;
}

.form-input--date {
  width: 90%;
}

.form-input--servings {
  width: 100%;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(45, 80, 89, 0.1);
}

.form-label {
  font-size: 2.6rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-7.7rem);
}

.form-button {
  display: none;
  visibility: hidden;
  padding: 2.4rem 3.6rem;
}

.form-button-box {
  margin-top: 3.6rem;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.upload-group {
  display: flex;
  width: 100%;
}

.file-field {
  width: 65%;
  border-bottom: 0.4rem solid #2d5059;
  margin-right: 6rem;
}

.form-button-upload {
  font-size: 2.4rem;
  padding: 0 2.4rem;
  border: 0.4rem solid#2d5059;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.form-button-upload.max-btn {
  border: 0.4rem solid#a6acae;
  color: #a6acae;
  cursor: default;
}

.file-uploads-box {
  display: flex;
  column-gap: 7.2rem;
  margin-top: 2.4rem;
  margin-left: 3.6rem;
}

.file-name {
  font-size: 1.8rem;
}
.file-error {
  color: #ff0033;
  display: flex;
  flex-direction: row;
}

.event-details {
  display: flex;
  width: 100%;
}
.event-box {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.servings-details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.add-padding {
  margin-top: 2px;
}

.form-box-rt {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-box-rt.sig-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.form-btn {
  display: none;
  visibility: hidden;
}

.form-submit-label {
  font-size: 2.3rem;
  background-color: #12d0ff;
  margin-top: 4.8rem;
  /* text-transform: uppercase; */
  color: #fff;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  width: max-content;
  padding: 2.4rem 4.8rem;
  align-self: center;
}

.form-panel {
  display: flex;
  flex-direction: column;
}

.validation-box {
  margin-left: 3.6rem;
  height: 100%;
  display: flex;
}

.hide-txt-panel {
  opacity: 0;
  z-index: 0;
}

/* .error-head {
  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  margin-top: 3.6rem;
  color: #ff0033;
  font-size: 3.6rem;
} */

.msg {
  color: #ff0033;
  font-size: 2rem;
  /* margin-left: 1.2rem; */
  padding: 0 3.6rem;
  max-width: 48.9rem;
}
.phone-msg,
.email-msg {
  max-width: max-content;
}
.error-group {
  margin: 2.4rem 0;
}

.err-border {
  border-bottom: 0.4rem solid #ff0033;
}

.ty-heading {
  width: 100dvw;
  height: auto;
  z-index: 300;
  position: absolute;
  padding: 2.4rem;
}

.ty-msg {
  position: absolute;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.ty-bg {
  background-color: rgba(107, 107, 113, 0.7);
  padding: 4.8rem 9.6rem;
  margin-top: 47rem;
}

.ty-bg p {
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.6;
  font-weight: bold;
}

.ty-container header {
  z-index: 600 !important;
  padding: 4.8rem 2.4rem;
  height: 15.7rem;
}
.phone-img {
  display: none;
}
