.header {
  position: sticky;
  top: 0;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0 4.8rem;
}
.header-content {
  display: flex;
  max-height: max-content;
  justify-content: space-between;
  max-width: 192rem;
  width: 100%;
  justify-self: center;
  padding: 2.4rem 0;
}

.logo {
  display: block;
  max-width: 18rem;
  position: relative;
}

.logo.logomark {
  display: block;
  max-width: 5rem;
  position: relative;
}

.hamburger-menu-icon-container {
  display: flex;
  align-items: center;
  justify-items: center;
  transform: translateX(-0.6rem);
}
.hamburger-menu-checkbox {
  display: none;
}
.hamburger-menu-btn-toggle {
  cursor: pointer;
}

.hamburger-menu-icon {
  position: relative;
}

.hamburger-menu-icon,
.hamburger-menu-icon::before,
.hamburger-menu-icon::after {
  width: 3rem;
  height: 0.3rem;
  background-color: #12d0ff;
  display: inline-block;
  transition: all 0.2s;
}

.hamburger-menu-icon::before,
.hamburger-menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger-menu-icon::before {
  top: -1.5rem;
  width: 1.25rem;
  transform: translateX(0.851rem);
}
.hamburger-menu-icon::after {
  top: 1.5rem;
  width: 4.5rem;
  transform: translateX(-0.75rem);
}

.hamburger-menu-icon:hover {
  height: 3rem;
  border: 0.1rem solid white;
}

.hamburger-menu-icon:hover::before {
  height: 1.5rem;

  border: 0.1rem solid white;
}

.hamburger-menu-icon:hover::after {
  height: 3rem;
  border: 0.1rem solid white;
}

.hamburger-menu-checkbox:checked
  + .hamburger-menu-btn-toggle
  .hamburger-menu-icon {
  background-color: transparent;
  border: none;
}

.hamburger-menu-checkbox:checked
  + .hamburger-menu-btn-toggle
  .hamburger-menu-icon::before {
  top: 0;
  transform: rotate(135deg);
  width: 3rem;

  height: 0.25rem;
  border: none;
}

.hamburger-menu-checkbox:checked
  + .hamburger-menu-btn-toggle
  .hamburger-menu-icon::after {
  top: 0;
  transform: rotate(-135deg);
  width: 3rem;

  height: 0.25rem;
  border: none;
}

@media (max-width: 890px) {
  .header {
    padding: 0 4.8rem 0 2.4rem;
  }
}

@media (max-width: 360px) {
  .header {
    padding: 0 3.6rem 0 1.2rem;
  }
}
