.gallery-container {
  display: flex;
  position: relative;
}

.gallery-container {
  padding-top: 4.8rem;
  justify-content: center;
  position: relative;
}
.gallery-content {
  display: flex;
  max-width: 192rem;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-bottom: 4.8rem;
}
.navigation-container {
  width: max-content;
}
.flavors-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: max-content;
  margin-bottom: 2.4rem;
}

.gallery-thumbnails-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  /* height: max-content; */
  margin-right: 4.8rem;
}

.gallery-thumbnails-container [class^="birthday\/"] {
  scroll-margin-top: 110rem;
}

.gallery-thumbnails-container [class^="characters\/"] {
  scroll-margin-top: 80rem;
}

.gallery-thumbnails-container [class^="fashion\/"] {
  scroll-margin-top: 60rem;
}

.gallery-thumbnails-container [class^="food\/"] {
  scroll-margin-top: 50rem;
}

.gallery-thumbnails-container img {
  margin: 1.2rem;
  opacity: 0.45;
  cursor: pointer;
  width: 21.6%;
}
.gallery-thumbnails-container .active {
  opacity: 1;
  outline: #12d0ff 1rem solid;
  outline-offset: 1.4rem;
  width: 15.5%;
  margin: 3.7rem;
}

/* GOURMET PAGE */

.d-none {
  display: none;
  width: 0px;
  height: 0px;
}
.no-opacity {
  opacity: 0;
  max-height: 0rem;
  max-width: 0rem !important;
}

.loading-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 0.9);
  z-index: 20000;
}

.loading-container img {
  width: auto;
  height: 50%;
  opacity: 75%;
}

.loading-container p {
  font-size: 2.9rem;
  padding-top: 2.4rem;
}
.loading-container span {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gourmet-item {
  display: flex;
  flex-direction: column;
}

.gourmet-info-box {
  display: flex;
  justify-content: space-between;
}
.gourmet-servings-box p,
.gourmet-price-box p {
  text-transform: uppercase;
}

.gallery-mainImg-container {
  width: 30%;
}

.gallery-mainImg-container img {
  width: 100%;
}

/* PAGE ACTION BUTTONS */

.nxt-pg-btn {
  font-size: 2.3rem;
  text-decoration: none;
  color: #12d0ff;
  display: flex;
  cursor: pointer;
  margin-top: 4.8rem;
  /* align-self: flex-end; */
  /* margin-right: 4.8rem; */
}

.page-button-container {
  z-index: 9;
  /* position: absolute; */
  display: flex;
  align-self: flex-end;
  right: 0;
  margin-right: 2.4rem;
  min-width: 84.4rem;
  max-height: 100%;
}

.gallery-btn {
  border: none;

  font-family: "fjalla one", sans-serif;
  text-transform: uppercase;
  color: #2d5059;
  padding: 2.4rem 0;
  padding-left: 3.6rem;

  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  justify-content: center;
}

.forward {
  background-color: #12d0ff;
  font-size: 4.1rem;
  flex-grow: 1;
}
.back {
  justify-content: flex-start;
  padding-right: 3.6rem;
  font-size: 3.2rem;
  background-color: transparent;
  flex-grow: 1;
}

.icon-circle-right {
  color: #2d5059;
  padding: 0 3.6rem;
}

.icon-circle-left {
  padding-right: 3.6rem;
}
