.jumbotron {
  display: flex;
  flex-direction: column;
  z-index: 8;
  /* height: 100%; */
  position: relative;
}
.jumbo-grad {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}
.jumbo-txt-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 4.8rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.jumbotron img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.heading-home,
.sub-heading-home,
.body-text-home {
  color: #526166;
}
.heading-home {
  text-transform: uppercase;
  font-family: "fjalla one";
  font-size: 7.4rem;
  padding-bottom: 2.6rem;
}

.sub-heading-home {
  text-transform: uppercase;
  line-height: 1;
  padding: 1.6rem 0 1.6rem 0;
  font-size: 5.2rem;
  font-weight: 300;
}

.body-text-home {
  font-size: 2.9rem;
  line-height: 1.5;
  padding-bottom: 0.9rem;
}
.jumbo-link-box {
  margin-top: 2.4rem;
  width: max-content;
}

.home-pg-links {
  text-decoration: none;
  font-size: 3.6rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #2d5059;
}
.btn-home-line {
  background-color: #12d0ff;
  max-height: 0.4rem;
  color: #12d0ff;
}

@media (max-width: 1500px) {
  .heading-home {
    font-size: 6.1rem;
    padding-bottom: 1.2rem;
  }

  .sub-heading-home {
    padding: 0 0 0.6rem;
    font-size: 4.1rem;
  }
  .body-text-home {
    font-size: 2.5rem;
    line-height: 1.25;
    padding-bottom: 0.9rem;
  }
  .home-pg-links {
    font-size: 2.9rem;
  }
}

@media (max-width: 1140px) {
  .heading-home {
    font-size: 5.4rem;
  }

  .sub-heading-home {
    font-size: 3.6rem;
  }
  .body-text-home {
    font-size: 2.3rem;
  }
  .home-pg-links {
    font-size: 2.6rem;
  }
}

@media (max-width: 900px) {
  .heading-home {
    font-size: 4.9rem;
  }

  .sub-heading-home {
    font-size: 2.9rem;
  }
  .body-text-home {
    font-size: 2rem;
  }
  .home-pg-links {
    font-size: 2.3rem;
  }
}

@media (max-width: 890px) {
  .jumbo-txt-box {
    margin-left: 2.4rem;
  }
}

@media (max-width: 660px) {
  .jumbo-grad {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    position: absolute;
    height: 60%;
  }

  .jumbo-txt-box {
    top: unset;
    transform: none;
    bottom: 15%;
  }
}

@media (max-width: 500px) {
  .jumbo-txt-box {
    bottom: 10%;
  }
  .heading-home {
    font-size: 4.1rem;
  }

  .sub-heading-home {
    font-size: 2.3rem;
  }
  .body-text-home {
    font-size: 1.8rem;
  }
  .home-pg-links {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .jumbo-txt-box {
    bottom: 10%;
  }
  .heading-home {
    font-size: 4.1rem;
  }

  .sub-heading-home {
    font-size: 2.3rem;
  }
  .body-text-home {
    font-size: 1.6rem;
  }
  .home-pg-links {
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
  .jumbo-txt-box {
    margin-left: 1.2rem;
  }
}
