.sticky-div {
  display: flex;
  flex-direction: column;
  margin-right: 9.6rem;
  width: 25%;
  height: max-content;
  margin-bottom: 9.6rem;
  position: sticky;
  top: 14.6rem;
}

.sticky-div .navigation {
  width: max-content;
}

.sticky-div .navigation.sig-cake-nav {
  margin: 0rem 0 9.6rem 0;
  /* align-items: flex-end; */
  width: max-content;
}

.sticky-div .navigation.size-menu-filter {
  flex-direction: row;
  margin: 0;
  column-gap: 9.6rem;
  width: 100%;
  margin-bottom: 24rem;
}

.sticky-div .navigation.serv-nav {
  margin: 0rem 0 9.6rem 0;
  /* align-items: flex-end; */
  width: max-content;
}

.sticky-div h4 {
  font-size: 2rem;
  font-family: "raleway", sans-serif;
  padding-bottom: 0.6rem;
  margin-bottom: 2.4rem;
  /* text-transform: uppercase; */
  font-weight: 300;
  border-bottom: solid 0.15rem;
}

.sticky-div .home-btn {
  align-self: center;
}

.sticky-div.gallery {
  width: 100%;
  margin: 0;
  margin-top: 1.2rem;
}

.sticky-div .txt-panel {
  margin-top: 1.2rem;
  margin-bottom: 4.8rem;
}
