.sticky-div {
  display: flex;
  flex-direction: column;
  margin-right: 4.8rem;
  width: 15%;
  height: max-content;
  margin-bottom: 9.6rem;
  position: sticky;
  top: 14.6rem;
}

.signature-content .sticky-div {
  width: 20%;
}

.sticky-div .navigation {
  width: max-content;
}

.sticky-div .navigation.sig-cake-nav {
  margin: 0rem 0 9.6rem 0;
  width: max-content;
}

.sticky-div .navigation.size-menu-filter {
  flex-direction: row;
  margin: 0;
  column-gap: 9.6rem;
  width: 100%;
  margin-bottom: 24rem;
}

.sticky-div .navigation.serv-nav {
  width: max-content;
}

.sticky-div h4 {
  font-size: 2rem;
  font-family: "raleway", sans-serif;
  padding-bottom: 0.6rem;
  margin-bottom: 2.4rem;
  /* text-transform: uppercase; */
  font-weight: 300;
  border-bottom: solid 0.15rem;
}

.sticky-div .home-btn {
  align-self: center;
}

.sticky-div .home-btn.cupc-Btn {
  align-self: unset;
  margin-top: 4.8rem;
}

.sticky-div.gallery {
  width: 100%;
  margin: 0;
  margin-top: 1.2rem;
  height: max-content;
  background: transparent;
}

.sticky-div.gallery .txt-panel {
  margin-top: 4.8rem;
  margin-bottom: 0;
}

.sticky-div .txt-panel {
  margin-top: 1.2rem;
}

@media (max-width: 1660px) {
  .sticky-div {
    width: 100%;
    /* flex-direction: row; */
    background-color: white;
    z-index: 1;
    top: 9.8rem;
    margin: 0;
    flex-wrap: wrap;
  }

  .sticky-div .navigation.size-menu-filter {
    margin-bottom: 2.4rem;
  }

  .signature-content .sticky-div {
    width: 100%;
  }

  .sticky-div.gallery {
    display: unset;
    z-index: 0;
  }

  .sticky-div nav {
    flex-direction: row;
    column-gap: 2.4rem;
    margin-right: 0;
  }

  .sticky-div h4 {
    border-bottom: none;
  }

  .sticky-div .navigation.sig-cake-nav {
    margin: 0;
    width: max-content;
  }

  .sticky-div .txt-panel {
    margin-bottom: 1.2rem;
  }

  .sticky-div .txt-panel h1 {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
  }

  .md-stky-head {
    margin-bottom: 1.2rem;
  }
  .md-stky-nav-con {
    margin-bottom: 2.4rem;
    display: flex;
    column-gap: 9.6rem;
  }

  .md-stky-nav-con div {
    width: 50%;
  }

  .md-stky-nav-con div h4 {
    width: max-content;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .frst-fil,
  .sec-fil {
    display: flex;
    column-gap: 6rem;
  }
}

@media (max-width: 895px) {
  .sticky-div.gallery {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .sticky-div.gallery .txt-panel {
    margin: 2.4rem 2.4rem;
  }
}

@media (max-width: 760px) {
  .frst-fil {
    display: none;
  }
}

@media (max-width: 740px) {
  .sticky-div .txt-panel h1 {
    font-size: 2.9rem;
  }
  .txt-panel p {
    font-size: 2rem;
  }
}

@media (max-width: 655px) {
  .txt-panel p {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .sticky-div nav {
    column-gap: 1.2rem;
  }
}

@media (max-width: 420px) {
  .sticky-div h4 {
    display: none;
  }
}
