.bread-crumb-container {
  display: flex;
  column-gap: 0.6rem;
  margin-bottom: 2.4rem;
  align-items: center;
}

.bread-crumb-container a {
  text-decoration: none;
  color: #2d5059;
  font-size: 1.2rem;
}

.bread-crumb-container .active-crumb {
  font-size: 1.4rem;
  font-weight: 400;
}
