nav {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-right: 9.6rem;
  height: max-content;
}

.navigation button div {
  display: flex;
  flex-direction: column;
  width: max-content;
}
.navigation-item {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 300;

  font-family: inherit;
  /* color: #a6a6a6; */
  cursor: pointer;

  text-align: unset;
}

.navigation span {
  background-color: #12d0ff;
  height: 0.3rem;
  width: 100%;
  margin-top: 0.3rem;
}

.greater-btn,
.less-btn {
  border: none;
  background-color: transparent;
  font-size: 2.9rem;
  /* font-weight: 1000 !important; */
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: inherit;
  color: #a6a6a6;
  cursor: pointer;
  transform: translateY(-0.2rem);
  text-shadow: 0.4rem 0.4rem 0.4rem rgba(82, 97, 102, 0.2);
}

.less-btn {
  margin-right: 2rem;
  /* transform: translateY(-0.2rem); */
}
